[2017-01-02 19:58] LebedevRI opened #13 "del wrong repo"
del

wrong repo :)

[2017-01-02 20:06] #13 closed, assigned to nobody

[2017-01-06 17:06] LebedevRI opened #19 "getCamera() with prefix-search issue"
https://github.com/klauspost/rawspeed/issues/166

I added that api in https://github.com/klauspost/rawspeed/commit/a45724ec3c201b67f5ff732317921c0feca878c6 and https://github.com/klauspost/rawspeed/commit/e1b5ccae3515773755621cee305170fa5ea63808.
And now i have just discovered how it backfires.
With raw file from https://redmine.darktable.org/issues/11354 from `Canon EOS Rebel T6`, which currently

[2017-01-06 17:08] LebedevRI opened #20 "DNG: if dng is from ADC, don't ask for samples."
https://www.mail-archive.com/darktable-dev@lists.darktable.org/msg01806.html

[2017-01-07 19:10] axxel opened #22 "Improve/cleanup the multi-threading support"
The pthreads based multi-threading code should be improved (IMHO). I see two options:

1. keep the internal 'explicit' interface more or less like it is but switch from pthreads to c++11 threads.
2. remove the 'explicit' interface, which should simplify the code significantly and switch to OpenMP where applicable.

I would strongly prefer the second option as is would reduce the complexity of the

[2017-01-07 19:22] LebedevRI commented on #22
1. I'd prefer to avoid `OpenMP` for library code. `pthreads`/etc has been around for a while, and is widely supported. I can not say the sample about `OpenMP`.
`clang` has only recently (3.8/3.9) gained more-or-less full support for openmp...
2. I'm somewhat strongly against C++11 threads because they are just too new feature. Not before we hard-depend on C++14. (I remember reading musl people swe

[2017-01-10 23:05] axxel opened #26 "Improve readability and usability of the CFA data tag in the xml file"
The fact that `CFA2` was introduced (probably because someone noticed that this verbose `x, y, color` interface is inappropriate to specify a 6x6 array) shows that the CFA tag has an issue. But the solution to come up with a CFA2 like it is, is not a good solution to this problem.

My issues with this are:
1. the interface is too generic, i.e. it allows more stuff than is useful and this extra fre

[2017-01-11 00:46] axxel commented on #26
Well, it turns out: this could be improved even further: simply remove the CFA tag for most of the cameras?!?

I just synced my raws to start a new PR cycle and not miss a few files again. I noticed that a couple Panasonic files failed with the error `Unexpected CFA color GREEN2` and I was thinking: ups, my suggestion from above does not allow to specify a second green channel. Wondering why there

[2017-01-11 09:38] LebedevRI commented on #26
Yes.

I suspect that it is a copy-paste issue, it was added in one place, and then spread to other places, without much thinking.
And since darktable and all the software that uses our code sets `d->failOnUnknown = true;`, it was never really encountered.

I fail to find anything about non-RGB CFA's in dng spec. I **think** it may have been an attempt to have unique color names for all the 4 CFA c

[2017-01-11 10:43] axxel commented on #26
Which details and where would they come from? Your thinking suggest to me there has been an attempt at fixing an imaginary problem no one has, thereby introducing real problems.

I believe it is best to keep the <CFA> tag.

Would you please explain to me how the presence of this shell script makes you come to your conclusion that it is bet to keep it? Please note: I did not suggest to completely r

[2017-01-11 11:00] axxel opened #29 "Improve the ci feedback"
I'd like to suggest to remove the codecov tests from the set of tests that take part in the final "sucess or failure" conclusion of the ci system. E.g. the failing of #27 makes no sense to me. I see the value those tests have on a code base with full or nearly full test coverage but right now they just hide the really useful information the other two tests provide.

[2017-01-11 12:12] axxel commented on #22
clang has only recently (3.8/3.9) gained more-or-less full support for openmp...

That is true. So replacing the existing code with openmp would potentially make the library less good for some people.

That statement surprises me for 3 reasons:
1. c++11 is 5 years old. saying it is _new_ just does not seem to accurately describe the situation. :)
1. this argument would be valid for _all_ c++11 fea

[2017-01-11 12:57] LebedevRI commented on #22
I of course meant "once we deem that c++14 is old-enough, and widespread enough, then we can do `-std=c++14`". And by that time, c++11 will be older and even more widespread, and hopefully better-supported. Does that sound contradicting even now?

True, that was a bit of FUD and "so i heard this somewhere". Right away i have no further proofs.

Yep, absolutely. That is why all dt modules are using

[2017-01-11 13:02] LebedevRI commented on #29
True, commit statuses from codecov.io are not as useful right now as they would be with raw-sample-based tests. For now i will disable *commit statuses*, but not pr comments.

[2017-01-11 13:11] LebedevRI opened #30 "CFA tag is relative to the Crop XY"
CFA2 is not, thankfully.

So e.g. if we have:
[code]
If we change crop x/y by a multiple of two, everything is fine.
But if we change it by just one, we also need to adjust `<CFA>`

[2017-01-11 13:15] axxel commented on #22
No :).

Can we agree then that using `std::thread` (as well as _every_ other c++11 feature) is generally fine since you decided to require a c++11 compiler in your cmake build files?

Note: I have no plans to introduce `std::thread` right now.

Nice.

https://ci.appveyor.com/project/LebedevRI/rawspeed/build/107/job/tenjj8d9ei4uxbyf#L444 claims that the win builds do build with threads, and since t

[2017-01-11 13:18] axxel commented on #29
Thanks!

[2017-01-11 13:34] LebedevRI commented on #22
I just used whatever is there by default. The current limiting factor would be travis, the most recent linux distro version (which is the only simple way to use coverity, it can not be used from within docker) it provides is trusty, with [gcc-4.8](https://travis-ci.org/darktable-org/rawspeed/builds/190718805#L615),

I'm unable to answer that presently. *All* **except** [Thread support library](htt

[2017-01-11 13:45] LibRaw commented on #22
(awake)
We do not use threaded RawSpeed. We tried (about 3 years ago) and it looks broken.

BTW, entire move to C++17 looks too early for me, there are a lot of environments where new tools are not available (e.g. WinXP compatible binaries)

[2017-01-11 13:50] LebedevRI commented on #22
FWIW in darktable we always use threading in rawspeed, and there has been **zero** cases where it was broken. Perhaps it was fixed after you tried it last time. Or perhaps it is platform-specific.

There is no move to C++17, not even to C++14.

@LibRaw the question was specifically about dropping direct build support using MSVS.

[2017-01-11 13:56] axxel commented on #22
True. But this is no argument against replacing the pthread code ;). And regarding new code: I would definitely argue against introducing even more pthread code. But I don't see the need for consensus on this specific question (new pthread code or not) as I can't see any reason why someone would come up with such a suggestion.

[2017-01-11 14:12] axxel commented on #30
The code says otherwise: https://github.com/darktable-org/rawspeed/blob/develop/RawSpeed/RawDecoder.cpp#L579-L583

I was just about to suggest to implement just that when I remembered having seen it before. If there is some bug it should be fixed but the meaning of the origin of the CFA pattern should stay as is (relative to the uncropped sensor).

[2017-01-11 14:13] LebedevRI commented on #30
Do note that it is in `if (applyCrop) {`

[2017-01-11 14:16] LibRaw commented on #22
1) For our LibRaw+RawSpeed projects we use qmake builds.
VisualStudio 2010 compatibility is critical for this projects (so std::thread is not an option).

2) Multithreaded RawSpeed: we've experienced troubles only under OS X. Windows was OK.

[2017-01-11 14:19] LebedevRI commented on #22
Both things suck. I was unable to find a way to use MSVS as compiler from within cmake buildsystem+msys2/mingw64 packages, thus there is even no ci coverage for that 'compiler'.

[2017-01-11 14:20] axxel commented on #30
Yes? Please have a closer look at what the code does: if `applyCrop` is false, then the 'cropped' image is simply the 'complete'/'uncropped' image. And since the CFA data is originally parsed with respect to this uncropped image, it stays as is.

[2017-01-11 14:26] LibRaw commented on #22
May be, problem is not the compiler, but CI scripts?

[2017-01-11 14:29] axxel commented on #22
VisualStudio 2010 has only _very_ patchy support for c++11. The decision to use the many improvements provided by c++11 (apart from threads) has been made and long been discussed (back in the old repo).

I spent about 3 weeks full time work on improving the code base _after_ that decision has been made. (Meaning: I will **strongly** oppose a reversal of that decision). And VS 2010 is simply not go

[2017-01-11 14:39] LibRaw commented on #22
Folks, you've asked about our opinion.
We use VisualStudio 2010 and we'll use it until we drop WinXP support.
We use gcc 4.2 (old XCode) and we'll use it until we drop OS X 10.5 support.
Our users still use WinXP (even XP/64) and OS X 10.5/10.6 so in 2017 we do not drop support of these systems.

If this will force us to do not use newer RawSpeed, so be it. May be, we'll backport your improvements

[2017-01-11 14:45] LebedevRI commented on #30
Very interesting, i remember the opposite thing.
But even https://github.com/darktable-org/rawspeed/blob/develop/data/README.md agrees with you
[code]

[2017-01-11 14:46] axxel commented on #22
Of course. Sorry for my 'bite reflex' ;).

Then you will indeed miss out on new rawspeed improvements until you drop support for those two compilers. We (or I) don't intend to change the behaviour or the public api just the internals. So you could set up something that uses the new code where it works for you and uses the old code where it does not without change in your own code.

Outside visible

[2017-01-11 14:47] LibRaw commented on #22
So be it

[2017-01-11 14:55] LebedevRI commented on #22
@LibRaw thank you for replying and informing about your expectations!

[2017-01-11 14:55] axxel commented on #22
To come back to the original question that @LebedevRI asked: you have your own build system based on qmake and therefore had no use for the VC solution and project files that have been removed by him about two weeks ago, right?

In case you were dependent on the pthread and libjpeg binaries that were in the original repo, you would have to provide them in your own build system from now on.

[2017-01-11 15:04] LibRaw commented on #22
Yes, we do not use VisualStudio projects that coming with RawSpeed, but generate own projects using qmake.

[2017-01-11 15:21] axxel commented on #22
@LibRaw Thanks for your input from my side as well (and sorry again for my tone earlier - I just spend so much time on this and saw it all go down the drain for a split second ;)).

To summarize:
1. Adding OpenMP code to RS is fine as it is inherently 'optional' and does not break backward compatibility
1. Mixing pthread and `std::thread` code is at least confusing and therefore not advised.
1. Re

[2017-01-11 15:40] LibRaw commented on #22
We hope to move to new wonderful RawSpeed at some time.

[2017-01-11 16:19] #29 closed, assigned to nobody

[2017-01-11 17:40] axxel opened #32 "-Wshadow"
Suggestion: don't clutter the compile log with 'shadow' warnings. Due to increased inlining in my latest PR this has become more of a 'problem'. This log file here is hardly readable: https://ci.appveyor.com/project/LebedevRI/rawspeed/build/111/job/uwbodr6y85ewx0y6.

And 'fixing' things like:
[code]
by introducing ugly new names like `_i` is something I really don't want to do. The above code is p

[2017-01-11 18:12] axxel commented on #32
I admit that this warning might help in finding real issues and I was trying to get an idea what other people think about the above `struct A` situation. So the whole `-Wshadow` situation seems controversial at best, which is the reason why it is not included in `-Wall`. It just produces way to much noise with perfectly valid code. I found an interesting bug report: https://llvm.org/bugs/show_bug.

[2017-01-11 18:16] LebedevRI commented on #32
We did have had issues in darktable that would have been detected by `-Wshadow`, that is why the flag got enabled.
Let's just disable it for now completely, and probable re-enable it as error after most of your stuff is upstreamed. Just prepend `#` before these 3 lines: [cmake/compiler-warnings.cmake](https://github.com/darktable-org/rawspeed/blob/e3cf2e54deaf7a6d3a0de79cda7b300d01836042/cmake/com

[2017-01-11 18:58] axxel commented on #32
Done. Close after #31 is merged.

[2017-01-12 20:27] LebedevRI commented on #26
Dunno yet. Reading `git log `, reading more specs.

Yes, unless there is an actual `GREEN2` CFA color out there in the world, and in these cases we have it is just erroneously used.

Did you notice that script is run on DNG, not the raw files? Also, did you read https://github.com/darktable-org/rawspeed/tree/develop/RawSpeed#updating-camera-support ? If you drop `<CFA>` tags, you will knowingly fu

[2017-01-13 10:35] axxel commented on #26
Well, there is one fact that should help in determining the relevance of this potentially important extra green: the existing practice, you just mentioned (`all the software that uses our code sets d->failOnUnknown = true;`), plus the fact that _no_ CFA tag in the xml mentions this extra green mean there is currently no software dealing with/depending on the `GREEN2`.

The only place where `GREEN2

[2017-01-13 11:33] LebedevRI opened #34 "GREEN2 color is most likely bogus"

[2017-01-13 11:54] LebedevRI commented on #26
Yes, i agree. Well, not unless some software has their changes to the `cameras.xml`, which make use of the `GREEN2`.

Thanks for looking in dcraw, my eyes start bleeding each time i read that.
Yes, i do think that `GREEN2` is bogus, and most likely needs to go away. https://github.com/darktable-org/rawspeed/issues/34

---

It shows that the `cameras.xml` is not created with the data that was simpl

[2017-01-13 12:51] axxel commented on #26
Of course, I was just trying to make the point that this is the 'right' direction going forward.

Agreed (see my '-> required' and '-> useful' conclusion above).

Agreed (I only said, I have no idea what this is good for. I did not mean to say "this has no use".)

Well, those users could. And if there are any listening: please speak up! :-).

But it is not like 'we' as the developers putting our f

[2017-01-13 12:55] LebedevRI commented on #26
Yeah, no. darktable switched to rawspeed and dropped libraw because it does _not_ produce useless garbage by default. This won't change.

Also, what a TL;DR

[2017-01-13 13:15] axxel commented on #26
Very well. It was just a suggestion.

But to come to some conclusion/agreement on how to go forward. Do you agree with the following?
1. CFA data that can be extracted from the raw file or determined by the make/model (e.g. all EOS models use the same pattern) can and should be dropped from the xml file once the extraction code / defaults are in place.
1. CFA data that can not be removed should be

[2017-01-13 13:48] LebedevRI commented on #26
And now i'm starting to understand all the responses "this isn't broken, why change it" i am/was getting.

BTW, forgot one more extremely important reason why `<camera>` and `<id>` tags will stay as is - they are used for automatic generation of changelog of camera support between dt versions.

I'm not ready to make such decisions. So i don't agree.

[2017-01-13 14:00] axxel commented on #26
Certainly not because of me. I had nothing to do with what did or did not work until about a week ago :).

That is good but please note that I never suggested to remove the camera/id tags from the file.

Ok. So your alternative is to not change anything?

I have another alternative: the xml file stays just as it is but we still try to extract CFA/black/whitelevel from the raw and use that, just in

[2017-01-13 18:25] schenlap commented on #26
Entries in xml should always overwrite values read from raw files. I had seen minimum one camera where the cfa pattern was wrong in dng and I it *could* have been wrong in raw (if it was included). I don't remember which camera it was, so can not test it.

In the long term we should not add CFA in xml anymore if not needed, but we should give developers some time to adjust there software. We shoul

[2017-01-13 19:13] LebedevRI commented on #26
@axxel

We are going in circles. I have already answered that question a day ago, https://github.com/darktable-org/rawspeed/issues/26#issuecomment-272273937

In `cameras.xml`, in near future - yes.

---

@schenlap

No questions here, +1.

Fun... i wonder if it is related to #30
Thought it is not unheard of, see [darktable/tools/dngmeta.sh](https://github.com/darktable-org/darktable/blob/880815833c

[2017-01-13 21:33] axxel commented on #26
Alright. I was just trying to summarize the made decisions we agreed on to prevent misunderstandings and explicitly asked you to provide constructive feedback if there is something in the summary you do not agree with. I listed 3 decisions/suggestions and all I got as feedback was `So I don't agree.`.

Regarding my earlier claim that all EOS use the same RGGB pattern: that was founded on my own ex

[2017-01-14 10:57] LebedevRI commented on #26
Ah, sorry, i was quoting the part of the message my replies was about.

To summarize:
1. `GREEN2` in most cases is probably wrong, and needs to be changed to `GREEN`.
2. Decoders indeed should default to somewhat meaningful CFA pattern.
3. Metadata should be read from raw files (**especially** black/white levels, CFA)
4. The data in `cameras.xml` will *always* override the data from the raw.
5. Ri

[2017-01-14 16:05] axxel commented on #26
Works for me. As kind of a final remark: I personally don't care about this xml/CFA situation as I do not have to deal with it. I just thought it was messier than necessary and changing it might make other people's life easier (not harder!) as in _not having to deal with it at all_ :).

You mean someone did not realize there already is a second green and introduced just another one?. I quote mysel

[2017-01-14 16:36] LebedevRI commented on #26
No-no-no. I'm talking about a different thing. Let's see if i can not fail to convey this thought...

rawspeed supports 2 major type of sensors: Bayer and X-Trans.
- X-Trans
  6x6 mosaic. So far all the produced X-Trans sensors are just with RED, GREEN and BLUE 'filters'.
- Bayer.
  2x2 mosaic. Traditionally, just has RED, GREEN and BLUE 'filters'. But other variants exist, e.g. CYGM, in which cas

[2017-01-15 03:38] axxel commented on #26
Thanks for the detailed feedback. I can follow your thought up the last paragraph:

Everything you wrote before that still does not explain or need the presence of the `GREEN2` enum in the source code. If you remove the unhelpful default settings who get virtually always overridden by the xml data anyway, there is simply _no_ way for that GREEN2 constant to ever show up in that switch in `toDcrawC

[2017-01-15 11:32] LebedevRI commented on #26
@axxel

Okay then, feel free to s/`GREEN2`/`GREEN`/ and please do show me that all the tests still pass.

[darktable/src/common/imageio_rawspeed.cc, dt_rawspeed_crop_dcraw_filters()](https://github.com/darktable-org/darktable/blob/4b67f41c9b80fff6e7211d19c83405ec4e221de5/src/common/imageio_rawspeed.cc#L104-L114)

One, 20-year-old camera. I'm not so sure i do care.

[2017-01-15 12:53] axxel commented on #26
Will do.

Perfect. So what is really needed are 3 things:
1. xml/exif parsing of CFA data
1. providing that parsed info in form of the dcraw-magic-int.
1. litttle helper tool to shift the dcraw-magic-int.
That is a spec to work with.

Even better. I am all for removing old/useless cruft. This means parts of the `ColorFieldArray` API can go. They are not used and have never worked.

I'll come up wi

[2017-01-15 13:47] LebedevRI commented on #26
I am **really** biased against all these cleanups.

[2017-01-15 13:47] #26 closed, assigned to nobody

[2017-01-19 11:59] axxel opened #39 "CR2Decoder potentially broken"
@LebedevRI getting rid of another couple hundred lines of duplicated code inside the CR2Decoder I noticed something that looks suspicious. It is about the selection of the predictors on a line change. What would help me, is some kind of ground truth data. Do you have a CR2 file and an accompanying 16bit raw tiff or PPM/PGM from some other source than rawspeed?

What may also work is a DNG that got

[2017-01-19 13:14] LebedevRI commented on #39
I'm afraid i don't...

You probably want to try `dcraw -E -4 `, which should produce Linear 16-bit PGM/PPM/PAM with no interpolation, which **i think** is the rawspeed output we are testing.

[2017-01-19 13:24] axxel commented on #39
You probably mean `-D -4`, right? (There is `-E` option.)

I tried that already. Result: almost all pixels have different values. Even the height differed by 1 pixel. I tried only one random CR2, though and then thought it might be best to ask for "real" ground truth data.

What about DNGs? Where do the DNGs processed in the dt script, you recently mentioned, come from? I would hope Adobe converte

[2017-01-19 13:27] LebedevRI commented on #39
No, i meant `-E` https://www.cybercom.net/~dcoffin/dcraw/dcraw.1.html

### INTERPOLATION OPTIONS

- -d
Show the raw data as a grayscale image with no interpolation. Good for photographing black-and-white documents.
- -D
Same as -d, but with the original unscaled pixel values.
- -E
Same as -D, but masked pixels are not cropped.

http://supportdownloads.adobe.com/product.jsp?product=106&platform=Mac

[2017-01-19 13:36] axxel commented on #39
Oh, new cmdline option! I haven't updated my dcraw code for a while, it seems.

Thanks. Looks like I do have to boot up my OSX then. I hope it is still working. It's been quite a while ;).

[2017-01-19 13:37] LebedevRI commented on #39
There is of course an http://supportdownloads.adobe.com/product.jsp?product=106&platform=Windows

[2017-01-19 16:20] LebedevRI opened #40 "GoPro HERO5 Black raw "format""
Just so it does not get lost
Copied from https://redmine.darktable.org/issues/11466

[code]

[2017-01-19 19:51] supertobi commented on #40
Here is the jpeg version of the photo:

![gopr0020](https://cloud.githubusercontent.com/assets/653976/22122136/0f306544-de87-11e6-8858-190214f5f714.JPG)

[2017-01-19 20:39] supertobi commented on #40
GoPro HERO5 Black RawTherapee issue:
https://github.com/Beep6581/RawTherapee/issues/3569

[2017-01-20 02:31] axxel commented on #39
There is definitely something weird going on with the update of the predictors. There are basically random jumps all over the image depending on the relative sizes of the cr2_slices. I am surprised that the images that come out are not complete garbage. So either I'm missing something important or Canon actually decided to implement it that way which makes **no** sense from a compression theory po

[2017-01-24 14:16] axxel commented on #39
Back at work I continued with the Cr2 code. Quick question: can you confirm that the current develop branch produces sane results for sRaw and mRaw files in dt?

[2017-01-24 14:21] LebedevRI commented on #39
You'll need to be more specific than that. Which three samples specifically (raw, sraw, mraw)?

[2017-01-24 14:26] axxel commented on #39
Just any mRaw and sRaw file, e.g. the two in the EOS 6D sample set.

[2017-01-24 14:36] LebedevRI commented on #39
I'd say so:
raw
![eos_6d_raw](https://cloud.githubusercontent.com/assets/88600/22251319/610290cc-e25b-11e6-9f3d-a6ecb7b7cc52.jpg)
mraw
![eos_6d_mraw](https://cloud.githubusercontent.com/assets/88600/22251330/6b320302-e25b-11e6-81b3-5848766df546.jpg)
sraw
![eos_6d_sraw](https://cloud.githubusercontent.com/assets/88600/22251337/75598882-e25b-11e6-945d-bf940293929d.jpg)

Please do note that i'm not d

[2017-01-24 14:57] axxel commented on #39
Thanks. Looking good, indeed. I just wanted to make sure I was not trying to make sense of how this part works if it does in fact not work...

I thought so but thanks for pointing it out. I am currently looking a very localized continuation of the LJpeg/Cr2 cleanup effort.

[2017-01-24 15:23] axxel commented on #32
I'd appreciate if we could agree on some consistent way of how to deal with the naming issues surrounding class members before any global search-and-replace type of change gets pushed.

Currently there are different inconsistent patterns in the code like starting some member names with an `m` but not others. Then there are getter/setter methods for some properties but not for others. From what I r

[2017-01-25 02:31] axxel commented on #39
Arghhhh.... turns out my problem was a bug (or rather missing feature) in my `rstest -d` code. It simply did not handle 3 component 'raw' data in a meaningful way. After that was fixed. Everything fell into place...

As for my original suspicion that there could be a subtle bug in the Cr2Decoder, I am now convinced that the code is correct and does what needs to be done to undo what the Canon engi

[2017-01-25 02:31] #39 closed, assigned to nobody

[2017-01-25 12:18] LebedevRI commented on #32
See #48. Does not change members.

Agree on all three points here

No comment on getters/setters. I see no reason for their existence here. Especially since it's a copylib with no stable/guaranteed API/ABI/

[2017-01-25 12:44] axxel commented on #32
Ok. I'm no fan of getters/setters for their own sake. I think they are mandatory in cases where the setting of a member without checks or without also updating related state would break the invariants of the object, meaning the object would end up in an inconsistent/broken state. A good example would be the `errors` member of the `RawImageData` class where you can directly modify the vector while

[2017-01-25 12:58] LebedevRI commented on #32
Yes, that is a good example indeed.

I believe i can agree to that in general.

[2017-01-25 15:15] LebedevRI opened #49 "Coverity CID 1397763"
@axxel just so that it does not get lost
[code]

[2017-01-25 15:19] axxel commented on #49
Yep. Will be gone with my next pr.

[2017-01-26 12:17] LebedevRI opened #51 "RawSpeed::LJpegPlain::decodeN_X_Y data race"
https://github.com/darktable-org/rawspeed/pull/41/files#r97982370
[code]

[2017-01-26 23:52] axxel opened #53 ".clang-format tuning"
Here is what I came up with after playing a bit with the options:
[code]

[2017-01-27 08:08] LebedevRI commented on #53
[code]
i would prefer to avoid cases like:
[code]
With `BreakBeforeBraces: Linux`, it can't happen, so it might be ok..

---

[code]
`BreakBeforeBraces` is not default, so i guess not needed

---

[code]
Any specific details? i'd say a comment should be inserted in such cases

---

[code]
Uhm, that looks too verbose, but it does help with readability.
But it is practically the direct opposite of `

[2017-01-27 12:08] axxel commented on #53
I just think sometimes having 2 empty lines might help further visually separate unrelated parts. maybe between two function bodies. I have no 'smoking gun' type of example, just thought, that giving the developer the freedom to actually use 2 empty lines is not really _bad_.

**About the `Allow...OnASingleLine`:** I actually would like to be able put stuff on a single line, e.g. here:
[code]
Whic

[2017-01-27 12:47] LebedevRI commented on #53
It should be solved by a small comment, describing something about the code
The code admittedly currently has an awful documentation.
But ok.

Shouldn't it be solved via C++ templates in the first place, might help by being compile-time?

So 9 operations on one line. "Readability" :)
Something like this, and the line is readable, and no longer too long
[code]

---

So the rest can be summed-up as

[2017-01-27 13:23] axxel commented on #53
I guess this could indeed be done completely without a run-time switch but in a release build, the whole switch and the `if` will be removed by the optimizer. This is close to the inner most loop of every BitPump and I benchmarked this to death, looking at the resulting assembly, playing with SSE, etc. ;). I'm saying: in terms of speed: don't worry. :) To remove the switch for a debug build would

[2017-01-27 13:43] LebedevRI commented on #53
**_very special cases_**
Right now the only place where i *could* accept such usage is [enum TiffTag](https://github.com/darktable-org/rawspeed/blob/5aa22bcf8e57be071a0e0aa5ba9c04e9edcdf97f/src/librawspeed/tiff/TiffTag.h) and such.

[2017-01-27 14:05] axxel commented on #53
Those were my words, yes. :)

There is something related to the subject of shorter names and since this just became more of an issue, I'll mention it here. You recently introduced 'std::' prefixes in all header files. I agree with the idea that it is bad style to force the inclusion of a whole namespace on someone just because he included your header file. So having `using namespace std;` at the t

[2017-01-27 14:18] LebedevRI commented on #53
yes

Wouldn't it pollute the RawSpeed namespace?
Anyway, i think `using namespace` should only be done in non-headers.

[2017-01-27 15:05] axxel commented on #53
Yes, but exactly the same way it does when you 'import' it in the individual cpp-file. Only that in the latter case this pollution only takes effect in this single translation unit. So could decided to pollute one cpp file but not another one. But why would you want to do that? It would allow the reuse of a std name in that other cpp file, but we just agreed that this would be a bad idea anyway. A

[2017-01-27 15:22] LebedevRI commented on #53
That exactly is the point.

[code]

[code]
So that header would need to include all these headers first. Which also exactly what i *don't* want.

[2017-01-27 18:21] axxel commented on #34
While I was thinking about my last comment regarding the dcraw filter cropping, I thought, I might as well hack something. Here it is, in case anyone wants to replace the implementation in https://github.com/darktable-org/darktable/blob/ef45705b5ab6f47eb317a473b33dfe38f2f03b09/src/common/imageio_rawspeed.cc#L104-L114.

Note: this code actually allows to perform a y-shift on filters like the ones u

[2017-01-27 18:28] LebedevRI commented on #51
Now it is
[code]

Hint: it probably needs to be written once, from main thread, the one that is within `dngdecoder.cpp::decoderawinternal()`
Or, a mutex is needed.

[2017-01-27 18:33] axxel commented on #53
As I said a few sentences later, you 'pollute' each and every cpp file of the library anyway. So where is the point here?

That header already includes pretty much everything I was referring to: https://github.com/darktable-org/rawspeed/blob/develop/src/librawspeed/common/Common.h#L23-L29 ?!?

And for other stuff like std::map, which is not included in Common.h, we can just as easily add this `usi

[2017-01-27 18:44] LebedevRI commented on #53
It includes *only* the stuff that is actually used in that header. Same goes for all other headers.

headers are `#include`d into other headers and into sources. sources are not (should not be) `#include`d into anything.
If one header pollutes global namespace, it will be polluted everywhere where that header is included from.
If one source pollutes global namespace, it will be polluted only in th

[2017-01-27 18:50] LebedevRI commented on #49
fixed

[2017-01-27 18:50] #49 closed, assigned to nobody

[2017-01-27 19:30] LebedevRI opened #55 "Canon 5D mk4 multi-exposure raw: wrong white balance."
The `raw.pixls.us/Canon/EOS 5D Mark IV/B13A0800.CR2` sample.
Image is all right, but the wb provided by rawspeed is wrong.
If i manually select (1,1,1) as wb, image looks right.

[2017-01-28 11:25] LebedevRI commented on #53
I mean, include before `using std::something`
One simple point:

If the headers do `using namespace` / `using std::something`, then it will no longer be possible to reliably find where these `std::` prefixes need to be added to headers.

[2017-01-29 13:23] axxel commented on #53
I think, we are actually agreeing about a lot more than it seems. :) Looks like more misunderstanding than actual disagreement to me:

Absolutely. Maybe the key insight here is that I did not (intend to) suggest to put `use std::string` into the global namespace but in the `RawSpeed` namespace. Maybe I was being imprecise or sloppy with my language somewhere. To remove all misunderstandings, here

[2017-01-29 13:28] axxel commented on #34
@LebedevRI If this code (or what ever version you end up choosing) got into dt and removed the requirement for the dcraw_filter constructor, please let me know. I can then continue to simplify the CFA code.

[2017-01-29 13:29] LebedevRI commented on #34
I think it should be in rawspeed. Why should it be in dt?

[2017-01-29 13:50] axxel commented on #34
Oh, well. I thought this could pretty much be a replacement of the above linked dt code. Only missing would be the one line `if(!filters || filters == 9u) return filters;`.

If you prefer to have it in rawspeed, why not. Maybe other projects would have a use for it as well, I don't know. If you would put it in dt, then the rs code can be changed later (by me) and your dt build never breaks.

[2017-01-29 13:54] LebedevRI commented on #34
I don't think this cfa shift is too niche thing, that could only be used by dt, thus i think it should be in rawspeed.

The rawspeed changes never break dt anyway, the rawspeed [submodule] repo commit id is kept in git history, and git is smart-enough to check-out the appropriate submodule revision.

[2017-01-29 14:32] axxel commented on #34
Ok, I'll prepare something then.

I have no experience with sub modules: so you basically manually gatekeep any updates of the submodule by checking in a new commit id of the sub module at the time you'd like to update the submodule? Would make sense to me that way.

[2017-01-29 14:34] LebedevRI commented on #34
yep

[2017-01-29 14:36] LebedevRI opened #57 "Hash mismatch between build types"
the hashes seem to differ between ASAN and release builds:
[code]

[2017-01-29 16:56] axxel opened #59 "Sony A850/A900 get wrong meta data from cameras.xml"
Working on a simplification of the `TrimSpaces` function, it seems I fixed a bug by accident. The two mentioned sony models get a new hash. But interestingly the new values are exactly those from the cameras.xml. So they must have been wrong before?!?

@LebedevRI Question is: which are the correct ones?

[code]

The filenames are local renames but the make/model are enough to identify them.

[2017-01-29 16:59] axxel commented on #57
That looks like mRaw/sRaw related. I guess the log file says that the md5sums are different but everything else is the same? Do you know when this problem appeared?

[2017-01-29 17:00] LebedevRI commented on #57
yes

zero clues, may have been like that since always. this was the first time i did such a comparison

[2017-01-29 17:22] axxel commented on #57
Or maybe it is not there even now: I can't reproduce this. I am testing my 'own' release build based on some quick and dirty qmake file and that produces the same as the upstream cmake build when set to release type ASAN.

[2017-01-29 17:23] LebedevRI commented on #57
1. build with gcc, -DCMAKE_BUILD_TYPE=ASAN
2. delete all hashes, generate them
3. build with gcc, -DCMAKE_BUILD_TYPE=Release
4. verify hashes
5. ???
6. profit

[2017-01-29 17:40] axxel commented on #57
Done. All good. Now where is my money? ;)

[2017-01-29 17:42] LebedevRI commented on #57
that is bad :(
this is `gcc version 6.3.0 20170124 (Debian 6.3.0-5)`

[2017-01-29 18:05] axxel commented on #57
I am using `c++ (Ubuntu 5.2.1-22ubuntu2) 5.2.1 20151010` right now.

here is the md5sum from the one failing 80D file: `data md5sum: 65086dcc586860f0feadf1ac7ace6369` Maybe this fits with one or yours.

[2017-01-29 19:34] LebedevRI commented on #53
And then consumer includes that header, does `using namespace RawSpeed;`, and for him all these `std` symbols appear in global namespace.

I intentionally added those prefixes.

Look, i don't know else to say this, i **DO NOT** want `using namespace std;` or  `using std:<something>;` in header files. That is all.

[2017-01-29 21:45] axxel commented on #53
That is right. Next to all other names that we have in RawSpeed.

I know and it made sense, you removed the global `using namespace std;`. I was simply suggesting an alternative way reaching the same effect (well, almost, see above) without introducing the verbosity.

I was trying to have a discussion based on technical facts, with the goal to find the best solution. That is all. But if you don't

[2017-01-30 09:09] axxel commented on #32
close or still not happy with this?

[2017-01-30 11:12] LebedevRI commented on #32
Just forgot about :)

[2017-01-30 11:12] #32 closed, assigned to nobody

[2017-01-30 12:57] axxel opened #62 "Variable initialization syntax consistency"
I started introducing c++11 default member initializations a while back. I used the 'old' syntax:
[code]
I noticed @LebedevRI also added some new code but chose the 'new' uniform initialization syntax:
[code]
I personally prefer the first because it is easier for my eye to parse it. I can also type it way faster. It's a matter of style. I'd like to use it consistently across the code base, but the

[2017-01-31 17:05] LebedevRI opened #63 "Lossless compressed DNG from Adobe DNG converter broken"
@axxel

When working towards minimizing hard-require dependencies for msvs ci build, i noticed that there is no lossy jpeg samples. I used ADC to produce all the variants of the compression it can, and the lossless compression is broken in current git develop branch.

the sample is [5G4A9394-compressed-lossless.DNG](https://raw.pixls.us/getfile.php/1024/raw/5G4A9394-compressed-lossless.DNG)

[code

[2017-01-31 17:43] axxel commented on #63
I'll push a fix. Most likely later today.

[2017-01-31 19:25] axxel commented on #63
Question: what happens if you convert an mRaw/sRaw to dng? In case that is even possible. Could you provide a sample for that as well?

[2017-01-31 19:33] LebedevRI commented on #63
https://www.dropbox.com/sh/x1pa1814zojyc86/AADE1deE3OnggYAwH7yorc4na?dl=0

[2017-02-01 05:45] axxel commented on #63
Fixed. All samples look fine to me now. The uncompressed and compressed-lossless versions produce the same hash file.

[2017-02-01 07:15] LebedevRI commented on #63
The m/s-raw dng, are they different from the full raw dng's?

[2017-02-01 11:55] axxel commented on #63
Yes. They contain RGB data for each pixel, no subsampling/CFA. So the ADC basically rendered them to RGB and stored them with the LJpeg compression algorithm. These are the only ones using 3 component non-subsampled data.

[2017-02-01 12:16] LebedevRI commented on #63
What i am trying to understand is, is there any point in adding those samples i put on dropbox to the rpu?

So yes, they are unique, and are wanted for rpu, correct?

[2017-02-01 12:19] axxel commented on #63
If you want to support them (which seems obvious): yes, absolutely.

[2017-02-01 12:23] axxel commented on #63
Appendix: IIRC the two files (mRaw vs sRaw) are the same in terms of code coverage, so one of them should be enough.

[2017-02-01 12:29] LebedevRI commented on #63
Okay, uploaded, thanks.

[2017-02-01 15:25] #63 closed, assigned to nobody

[2017-02-01 17:32] LebedevRI commented on #62
The bulk of these changes used this syntax because that is the syntax that clang-tidy suggested.
i.e. i don't *really* have any real preference to the ether syntax.

Hmm, sounds too restrictive. It' not like there is any hard-required coding style for rawspeed (and no, i don't think there will be any hard-required coding style.), so it will be pretty much impossible to enforce.

Ok, now **that** i

[2017-02-01 17:33] LebedevRI commented on #59
the cameras.xml says that it should be:
[code]

[2017-02-01 17:41] LebedevRI commented on #59
Exif says that they are 12-bit, so the old black/white levels look more correct
gonna check in dt next

[2017-02-01 17:46] LebedevRI commented on #59
@axxel for RAW_SONY_A850.ARW and RAW_SONY_A900.ARW from rpu, the
[code]
and
[code]
are the right ones.
with the values you pasted, images look completely crippled.

[2017-02-01 18:14] axxel commented on #62
Fine, I was just worried that if I would have come up with a patch set that used my preferred style  (`=`) that you might have objections based on what you committed in the mean time.

[2017-02-01 18:14] #62 closed, assigned to nobody

[2017-02-01 18:18] LebedevRI commented on #62
No, i don't think i will object to using `=` for in-class initialization. :)

[2017-02-01 18:21] axxel commented on #59
OK, so the numbers in the xml are wrong. The code I pushed did not change the behavior. So the old numbers are still used, wherever they are actually from (did not investigate).

[2017-02-01 18:32] #34 closed, assigned to nobody

[2017-02-01 18:35] LebedevRI commented on #59
No, they are not. Please read the ArwDecoder once more :)
Especially grep for `mShiftDownScale`.

The metadata in XML (for arw raws in general it seems) is specified for 14-bit raws.
These raws are 12-bit. So for them the metadata is computed by simply `>> 2`.

EDIT: s/xmp/XML/

[2017-02-01 18:51] shoffmeister commented on #40
https://trac.ffmpeg.org/ticket/1087

https://git.ffmpeg.org/gitweb/ffmpeg.git/blob_plain/HEAD:/libavcodec/cfhd.c <-- that is supposed to decode the video, so the compression might serve as a template?

This codec goes by VC-5 (misnamed, it seems), cfhd, CineForm HD.

Also: http://cineform.com/compression-subsystem

[2017-02-01 19:25] axxel commented on #59
I see. Makes sense. As I said: I did not investigate further. So my worries were unfounded.

[2017-02-01 19:25] #59 closed, assigned to nobody

[2017-02-03 08:57] tredlie commented on #19
This issue still seems to be around. What are the chances of getting this fixed as it brings darktable usage for a Leica M9 to a grinding halt, reporting this camera to be a Mamiya.
Or, maybe, this does not do any harm other than reporting the wrong Maker in the Image Information window in DT. The exported JPG looks OK.

[2017-02-03 10:29] LebedevRI commented on #19
I believe i have just fixed it locally. At least the unittest i just wrote no longer fails.

[2017-02-04 12:31] axxel opened #69 "Improve error handling throughout the library"
@shoffmeister brought up the question of whether the habit of quoting class/function names in error strings adds value (https://github.com/darktable-org/rawspeed/pull/61#discussion_r99428209). There is a (inconsistently used) pattern that looks like this:
[code]
This pattern has two issues:
 * manually typed class/function name
 * there are different `ThrowXXX` options available that have question

[2017-02-04 13:21] #19 closed, assigned to LebedevRI

[2017-02-05 07:55] supertobi opened #73 "DNG image is upside down"
I converted a GoPro .gpr image with Adobe DNG Converter 9.8 to a .dng file. The files are upside down in darktable 2.2.1.

https://filebin.net/7h8d4s8vmw6z7gtn/GOPR0020.dng
As github doesn't support uploading dng files I used filebin. The files will expire automatically 2 months from now. Please ping me if it is expired and you need it again.

[2017-02-05 08:36] supertobi opened #74 "DNG Converter DNGS: Please consider providing samples on <https://raw.pixls.us/>, thanks!"
I converted a GoPro .gpr image with Adobe DNG Converter 9.8 to a .dng file. now I get this message from darktable:

As raw.pixls.us is  not interested in DNG files converted from Adobe DNG Converter, aren't you able to not show this message, if the DNGs are from the Adobe DNG Converter?

[2017-02-05 09:25] axxel commented on #74
@LebedevRI noticed this contradiction right after he introduced the message: #20 :). Simply has not come around to change it, I guess.

[2017-02-05 10:14] LebedevRI commented on #74
yes, what @axxel said :)
We should not ask for dng samples from ADC, and some other software (hdrmerge, dt)

[2017-02-05 10:14] LebedevRI commented on #74
Closing as duplicate of https://github.com/darktable-org/rawspeed/issues/20

[2017-02-05 10:14] #74 closed, assigned to nobody

[2017-02-05 10:15] LebedevRI commented on #73
@supertobi so it is decoded correctly, but in darktable, it is upside down?
Then it is not a rawspeed issue, but darktable.
Could you please open a new issue at https://redmine.darktable.org/projects/darktable/issues/new ?

[2017-02-05 10:15] #73 closed, assigned to nobody

[2017-02-05 10:34] supertobi commented on #73
done:
https://redmine.darktable.org/issues/11499

[2017-02-05 16:38] axxel opened #76 "Cleanup basic int type usage and type naming"
I have 3 issues with the custom types specified here: https://github.com/darktable-org/rawspeed/blob/develop/src/librawspeed/common/Common.h#L35-L41

1) Their **naming** contains the size info twice, e.g. `ushort16` and the names (strings) are not equally long.

I like to suggest two alternative variants:
 * Rust names (`u32, i16, etc.`)
 * `<cstdint>`: http://en.cppreference.com/w/cpp/types/integ

[2017-02-05 16:48] LebedevRI commented on #76
I'm wiling to bet that they are not Rust names, but linux; [Assigning an Explicit Size to Data Items](https://static.lwn.net/images/pdf/LDD3/ch11.pdf), [linux/types.h](https://github.com/torvalds/linux/blob/master/include/linux/types.h)

[2017-02-05 17:12] axxel commented on #76
Meaning what exactly in the context of my question? If you have an opinion about 1) and/or 2), please tell me about it.

[2017-02-05 17:29] LebedevRI commented on #76
No, at this point i'm unable to state my opinion/choice.
But, in either case the changes will be rather intrusive so it will be better to not rush changing it and creating a pr.

[2017-02-05 17:36] axxel commented on #76
Ok.

That is why I put this issue together first. The influence of the `size_t` choice is actually not that intrusive and also more important to me, as it is actually conveying information. The choices in 1 are merely cosmetic. You also introduced code using `size_t` recently. Can you express an opinion on that?

[2017-02-05 17:39] LebedevRI commented on #76
Sure. Using anything **other** than `size_t` for anything that means size is just wrong.
I.e. buffer size, multiplication of the dimensions of image, size of some buffer, etc - should use `size_t`.

[2017-02-05 17:49] axxel commented on #76
Very good. I'll do that then (the consistent `size_t` introduction).

[2017-02-05 17:51] LebedevRI commented on #76
Okay, as long as it is less than 500LOC diff :)

[2017-02-05 18:51] axxel commented on #76
This turned out to be less of a no-brainer than I thought: simply switching from a 32bit `size_type` to a 64bit one introduces overload resolution issues. The problem is, that Tiff is inherently 32bit based. Everything that is a size or an offset is 32bit. So it makes absolute sense to have a 32bit type for those values.

I'd still like to encourage a wider spread distinction between a 'random' un

[2017-02-05 19:03] LebedevRI commented on #76
So if we pick the linux/rust types, what are the PRINTF(3) specifiers for them?

[2017-02-05 19:44] axxel commented on #76
The exact same as with the current type names? My intention with 1) was simply to 'beautify' the names.

[2017-02-08 01:57] axxel commented on #76
Because your question makes me suspect you had a different understanding of what exactly I was talking about in section 1):

I'm suggesting to replace `using ushort16 = unsigned short;` with either
 * `using u16 = unsigned short;` or
 * `using uint16_t = unsigned short;`

Instead of the latter, we can simply `#include <cstdint>` . Either option has absolutely no effect on the semantic/behavior of

[2017-02-09 15:18] axxel opened #79 "Bad pixel correction for DNGs is broken"
See https://redmine.darktable.org/issues/10078.

Example image: https://raw.pixls.us/getfile.php/683/raw/RAW_CANON_POWERSHOT_SX130IS_CHDK.DNG

I stumbled on this issues while cleaning up the DngOpcode classes. This has almost certainly never worked (I found 2 separate issues).

I have a complete rewrite of the DngOpcode classes, fixing this issue (among others). Just waiting for #75 to be merged.

[2017-02-09 15:20] LebedevRI commented on #79
Coverity CID 1025896 and 1025897 are probably related.

[2017-02-09 15:26] axxel commented on #79
Yes and no:
 * affecting some kind of bad pixel correction (float images): yes
 * completely preventing bad pixel correction of DNGs: no

[2017-02-10 16:23] LebedevRI commented on #20
test

[2017-02-10 17:30] axxel commented on #69
@LebedevRI @schenlap @LibRaw any feedback on this? (I guess a developer mailing list would have been the better place to post this, but since there is none...)

[2017-02-10 17:33] LebedevRI commented on #69
I plan to try to make the exceptions automatically print from where they are thrown (filename.cpp without path, with line number, possibly with function name)

[2017-02-10 18:19] axxel commented on #69
That is what I also wanted to suggest in the "how to get there" department after there has been some consensus on what the library should behave, as seen from the 'outside'.

I implemented something like that (automatic attachment of file/line/function info) for libgphoto2 a couple of years back (e.g. [here](https://github.com/gphoto/libgphoto2/blob/b97ab7684e81415f32e52370aecfb4ecf9ee653c/libgpho

[2017-02-10 18:23] LibRaw commented on #69
My 3 cents
 - we use RawSpeed as decoder, not as metadata parser, so some 'unsupported' files (e.g.  Nikons banned based on make/model/bit depth because of unknown black level) are really supported from our point.
 - so:
   -- corrupted file should be reported
   -- unsupported format (unknown predictor) should be reported separately
   -- supported format, but unknown camera (not in cameras.xml)

[2017-02-10 18:25] LebedevRI commented on #69
I will not merge this. I do not know at the moment whether the current exceptions make sense or not, so i can only make an educated guess. And if i turn out to be wrong, guess who will have to change it back?

[2017-02-10 18:37] axxel commented on #69
@LibRaw thanks for you feedback. Completely fits into my picture. The possibility to process 'unknown' cameras would not be affected. And the error thrown if the check is enabled can of course be a 3rd type.

@LebedevRI I don't have full picture myself of every catch() at the moment but I noticed two things: Klaus seemed to be eager to make sure only one type of exceptions ever reaches client code

[2017-02-10 18:40] LebedevRI commented on #69
Everyone in the @darktable-org has write access

[2017-02-10 18:45] axxel commented on #69
Fair enough :). Then my problem is that I've never seen anyone touch the repo except you. But this comment of mine has to be interpreted in the context of my promise to fix anything that my efforts on the code base might break.

Then again: all this is just a proposal, trying to improve the maintainability and usability of the code. And we are discussing it, good enough for me.

[2017-02-10 18:49] LebedevRI commented on #69
True, not many even touch the darktable-org/darktable repo
Camera support has always been an outcast, with very few contributors

[2017-02-10 22:54] axxel commented on #69
There is one more aspect to this subject that I did not mention before: There are lots of places where some error is caught, added as string to the error-log of the raw image and then ignored, so maybe half a frame was successfully decoded but the file was truncated. Idea: still perform following processing steps like scaling or bad pixel correction as half a frame might be better than nothing. Th

[2017-02-11 08:28] LebedevRI commented on #69
Yes, absolutely.

[2017-02-11 11:51] LibRaw commented on #69
In LibRaw - we catch RawSpeed exceptions and raise internal warning flag and also try to unpack same file by (slower) LibRaw unpacker.

In calling applications (RawDigger, FastRawViewer) - we check this flag and result of LibRaw processing and may warn user if he select this option in preferences.

[2017-02-11 13:19] axxel commented on #69
But what about the `RawImage::errors` vector of strings that contain this 'log' that I was referring to? It may very well be the `decodeRaw` call went through without throwing but this error log explains why you get a completely black frame. So you would have to catch and check this variable to be sure everything is fine.

Little idea: similar to the 'failOnUnknown' flag, we could add a symmetric

[2017-02-12 15:46] LebedevRI commented on #69
You keep saying that, yet never name it. Is that information secret?

[2017-02-12 19:39] axxel commented on #69
Not at all: www.lizardq.com. I did not mention it explicitly before but mentioned that I'm running a small company. And I believe `google(my name)` points you there without detour. :)

[2017-02-13 08:39] LibRaw commented on #69
We check size of this log, not contents.

[2017-02-13 17:27] LebedevRI commented on #22
@LibRaw i have taken one more look at compiling `rawspeed` with `msvs`, and even the latest version available on `appveyor`, `VS2015`, fails to compile perfectly valid C++.

In particular https://connect.microsoft.com/VisualStudio/feedback/details/811369/local-struct-class-with-in-class-initialization-of-member-causes-compilation-failure.

I'm not sure i want to garble the code just because just s

[2017-02-13 19:19] LebedevRI opened #88 "Lossy DNG: when built with clang, decoding fails completely."
`jpeg_read_header()` returns `JPEG_SUSPENDED` i believe

[2017-02-16 18:23] heckflosse commented on #22
@axxel

Some time ago I tried to optimize decode of cr2 files in RawTherapee because decode of cr2 files was really slow. I managed to transfer some work to a second core. Maybe a similar approach is possible in rawspeed though I don't know anything about the rawspeed cr2 decode code at all.
For reference: https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/dcraw.cc#L907

[2017-02-16 20:20] axxel commented on #22
I can only agree with that. I used dcraw in my original design as well. Having pretty much all of my pixel processing (demosaicing, color management, bad pixel correction, etc.) running on the GPU the actual decoding of the raw became 'visible'. That is why I switched to rawspeed, which was substantially faster (I don't remember the exact numbers). Now I managed to squeeze out about another 15-20%

[2017-02-16 20:26] heckflosse commented on #22
@axxel Ok, thanks for your answer. I just wanted to mention it :)

[2017-02-25 14:09] #79 closed, assigned to nobody

[2017-03-09 12:35] LebedevRI opened #94 "DNG LJpeg 1-component support"
While just teaching rs to load it is as simple as adding to `LJpegDecompressor::decodeScan()`
[code]
there is something off about it.

Such file can be acquired by ADC'ing the [DSCF0151.RAF](https://raw.pixls.us/getfile.php/1167/raw/DSCF0151.RAF), a compressed sample from X100F.
rawspeed loads it garbled:

![old_dscf0151](https://cloud.githubusercontent.com/assets/88600/23750323/697ca0a4-04dd-11e7

[2017-03-20 08:54] LebedevRI commented on #57
Apparently was fixed by 870daf912d84c8f57323f7bfe18a3bc0f3951875
Canon EOS 5D Mark IV  m/s-raws are just completely broken anyway

[2017-03-20 08:54] #57 closed, assigned to nobody

[2017-03-20 08:55] LebedevRI opened #96 "Cr2Decompressor: canon raw unslicing is broken."

[2017-03-28 16:39] #96 closed, assigned to nobody

[2017-03-29 13:14] LynxChaus commented on #96
Still not load raw from Canon 700D.

[code]

[2017-03-29 13:20] LebedevRI commented on #96
@LynxChaus
1. open new issue
2. the sample from raw.pixls.us, [IMG_0972.CR2](https://raw.pixls.us/getfile.php/1283/raw/IMG_0972.CR2) loads just fine, so you need to provide the sample here. is it direct from camera, or is it modified in any way?

[2017-03-29 13:47] LynxChaus opened #97 "Better handling for slightly truncated CR2"
[code]
Raw direct from camera, manual M42 lens with chinese "focus assist" chip on ring.
Grab raw here: [IMG_3030.CR2](https://yadi.sk/i/2qlwNkbG3GTRFZ)

[2017-03-29 13:47] LynxChaus commented on #96
Ok, open #97

[2017-03-29 14:46] LebedevRI commented on #96
Are *all* the raw files from that camera are like that?
Have you tried different SD card, newer firmware?
Either the file is slightly truncated, or the camera wrote corrupted file.

[2017-03-29 14:47] LebedevRI commented on #97
Are all the raw files from that camera are like that?
Have you tried different SD card, newer firmware?
Either the file is slightly truncated, or the camera wrote corrupted file.

[2017-03-29 18:11] LebedevRI opened #98 "Simplify&parallelize Cr2Decompressor"
Since predictor is reset for each row of the slice to the first pixel of previous slice row, i _believe_ it means only the first pixel of the row depends on the value of the first pixel of the previous row. Thus it should be feasible to parallelize it?

[2017-03-30 07:23] LynxChaus commented on #97
Files damaged when transferred over wire.
Sorry for noise.

[2017-03-30 16:21] LebedevRI commented on #97
I'm sorry to hear that...
However in this case, given that the file is just few bytes short, i guess rawspeed should not completely refuse to load it.
I have an idea how to workaround this particular case, so i'll keep the issue for now.

[2017-03-31 00:16] axxel commented on #98
That is correct.

Unfortunately not: you need to decode each and every pixel of the full row, just to know where exactly in the bitstream the next row starts.

[2017-03-31 07:34] LebedevRI commented on #98
Who said anything about decoding huffmantable in parallel too?

[2017-04-18 16:59] LebedevRI opened #100 "Regression: huffmantable is broken."
- [ ] #127
- [x] #128
- [x] #129

@axxel
hi.
0. i'm deeply saddened by the amount of sanity checks / input data validation in your code :(
1.
[code]

[2017-04-18 19:47] LebedevRI commented on #88
Was fixed

[2017-04-18 19:47] #88 closed, assigned to nobody

[2017-05-20 12:39] LebedevRI opened #102 "Canon: WB correction not handled."
At least some cameras, when the "White balance correction" is enabled, bake white balance into the raw data. So far i'm aware than Canon 6D does that. In such a case, the white balance info is still present.
[code]
(from exiftool)
So we would have to detect that "WB corrected" flag is set, and then either say that wb is `(1.0f, 1.0f, 1.0f)`, or, for consistency, un-apply WB...

Thank you, Canon!

[2017-05-22 15:34] drhaynes opened #103 "Canon EOS M6 Support"
Please add support for the new Canon EOS M6. I have one of these so am able to provide any data / sample images as needed. Just let me know.

[2017-05-22 15:36] LebedevRI commented on #103
Please open new issue on https://redmine.darktable.org/projects/darktable/issues/new
I somewhat suspect that color matrix (== dt support) is wanted too... :)

[2017-05-22 15:38] drhaynes commented on #103
Are you an admin there? I have registered and activated an account but am unable to login. Wondering if there are problems...

[2017-05-22 20:54] LebedevRI commented on #103
Log-in works for me.

[2017-05-25 18:36] aferrero2707 opened #104 "__builtin_unreachable() not properly handled by Apple LLVM version 6.1.0?"
Using Apple LLVM version 6.1.0, the compilation of

```    rawspeed/src/fuzzers/HuffmanTable/main.cpp```

stops with an error like

    ..../rawspeed/src/fuzzers/HuffmanTable/main.cpp:84:3: error: code will never be
      executed [-Werror,-Wunreachable-code]
      __builtin_unreachable();

while I guess it should simply proceed with the compilation... can this line be safely commented for not-so-

[2017-05-25 18:39] LebedevRI commented on #104
How are you building?
As part of some other build?
If yes, then i'd recommend https://github.com/darktable-org/darktable/blob/f92f3a2577bda0d2faf73f496b9d687e518dac88/src/external/CMakeLists.txt#L16-L17

[2017-05-25 19:03] LebedevRI commented on #104
Regardless, i'll add a specialcasing into cmakelists.txt to disable `-Wunreachable-code` if it to complain on that code.
Thank you for the report.

[2017-05-26 10:03] aferrero2707 commented on #104
Thanks, much appreciated!

By the way, since I am using RawSpeed as a bundled library for the RAW decoding in my [image editor](https://github.com/aferrero2707/PhotoFlow/tree/stable), do I need all this fuzzers code or can it be safely disabled?

[2017-05-26 10:07] LebedevRI commented on #104
@aferrero2707 no, you can safely disable all that
Basically just copy [darktable/src/external/CMakeLists.txt](https://github.com/darktable-org/darktable/blob/master/src/external/CMakeLists.txt), and it should be fine.
It'll be kept updated to only build the library but nothing else.

[2017-05-26 20:46] #104 closed, assigned to nobody

[2017-05-26 20:46] LebedevRI commented on #104
@aferrero2707 please do check and confirm that this actually fixed the issue you were hitting.

[2017-05-26 21:01] LebedevRI commented on #103
@drhaynes we will hopefully do dt-2.2.5 this weekend, so you may want to open that issue rather sooner than later :)
Additionally, please take one slightly overexposed raw image per each the iso level that  can be set in camera (including all the sub-iso's, and extended iso levels !) , upload that as one archive somewhere (dropbox?), and give me the link.
That would be all that is needed...

[2017-06-17 10:55] LebedevRI commented on #103
Meh, that did not close this issue, will have to read up on that.
Fixed in https://github.com/darktable-org/rawspeed/commit/392a09c40a9aa60bed599aeb9ccab76ce815e7a8
Fixed in darktable git master.

[2017-06-17 10:55] #103 closed, assigned to nobody

[2017-07-18 21:45] LebedevRI opened #109 "DNGDecoder: investigate multi-frame access"

[2017-07-18 21:46] LebedevRI opened #110 "CR2Decoder: investigate multi-frame access"

[2017-07-18 21:46] LebedevRI opened #111 "PEFDecoder: investigate multi-frame access"

[2017-08-07 04:05] ChihChengYang opened #112 "Building error"
Hi,

I use the commands as below to build rawspeed but getting some errors.
Is that correct rule to build? or something wrong with codes?

thank you... :)

[code]

[2017-08-07 08:29] LebedevRI commented on #112
Hi.
Please duplicate this issue into your's distribution's bugtracker: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=871250
And pass me the bug number.
After i have a few bugid's, i'll add a temporary workaround.

[2017-08-07 12:31] LebedevRI commented on #112
So far this is as far as i was able to go:
(#gcc on freenode)
[code]
I'm rather tempted to close this as WONTFIX.

[2017-08-08 01:35] ChihChengYang commented on #112
Hi,
Ok, got it. Thank you for your information.

[2017-08-08 01:38] #112 closed, assigned to nobody

[2017-08-08 11:46] LebedevRI commented on #112
+ https://bugs.launchpad.net/linuxmint/+bug/1709234
I will likely add a workaround still, but the gcc stance is troubling to say the least.

[2017-08-09 11:16] ChihChengYang commented on #112
I build this branch https://github.com/LebedevRI/rawspeed can pass the prior error with gcc 5.4.0 but getting another error as below.  gcc-7 , clang++-3.9, 4.0  get the fail as well.  :(
[code]

[2017-08-09 11:19] LebedevRI commented on #112
1. that commit is in this repo, https://github.com/darktable-org/rawspeed/commit/4ccee4a699c87062d7c34cfc5931add2d8c35556
2. building works: for gcc-7, clang-4.0: https://travis-ci.org/darktable-org/rawspeed/builds/262338230
so the problem is local to you. maybe you forgot to prune build dir.

[2017-08-10 10:02] LebedevRI commented on #112
@ChihChengYang were you able to resolve your build issue?

[2017-08-10 10:44] ChihChengYang commented on #112
No, that got the same fail even pruning build dir or retrying.

Following make steps: (Ubuntu 16.04 32 or 64bit , gcc 5.4.0 )
1. git clone https://github.com/LebedevRI/rawspeed
2. checkout 4ccee4a
3. mkdir build; cd build;
4. cmake .. -DALLOW_DOWNLOADING_PUGIXML=ON -DUSE_BUNDLED_PUGIXML=ON -DALLOW_DOWNLOADING_GOOGLETEST=ON
5. make

[code]

[2017-08-10 13:48] LebedevRI commented on #112
Finally, reproduction steps :)
Ok, something is wrong when `-DUSE_BUNDLED_PUGIXML=ON` is specified together with `-DBUILD_TESTING=ON`

[2017-08-10 14:22] LebedevRI commented on #112
@ChihChengYang please try building `git develop` branch of [*this*](https://github.com/darktable-org/rawspeed) repo.

[2017-08-11 01:28] ChihChengYang commented on #112
@LebedevRI  The building error has been fixed. Thank you. :)

[2017-09-12 12:49] alphazo opened #113 "Support for Sony RX1R-II"
I see that the original Sony RX1R is supported but not the RX1R-II (DSC-RX1RM2) that has been released in 2015. Is there any chance to add it or use former RX1R as a baseline ?

Thanks.

[2017-09-12 13:11] LebedevRI commented on #113
Thank you for reporting this issue

We do not have any samples for  `Sony DSC-RX1R` camera on https://raw.pixls.us/
Thus, as far i'm concerned it is not really supported.

Similarly with `DSC-RX1RM2`, until there are samples, there is nothing to talk about.

[2017-09-12 13:56] alphazo commented on #113
Hello,

I don't own any of those cameras but I'm considering purchasing one if I can find a descent Open Source RAW editor. Darktable has been my workhorse for many years on Nikon and Fuji and would love to continue using it.

Is is ok to post RAW pictures on raw.pixls.us found on websites testing those camera and who usually provide a sample gallery with RAW files?

Thanks
Dany

[2017-09-12 14:04] LebedevRI commented on #113
Uncompressed raw will certainly work. Not sure about compressed, that is why the samples are needed.

No, it is not legal:

[2017-10-27 19:56] supertobi commented on #40
GoPro Open Sources the CineForm Codec:
https://gopro.com/news/gopro-open-sources-the-cineform-codec

https://github.com/gopro/cineform-sdk

[2017-10-27 19:59] LebedevRI commented on #40
Yep, seen that yesterday.
I suppose libraw will want to link to that.
As for rawspeed, i suppose a clean, minimal implementation (with less horrible code than that, and no double/triple-licensing shenanigans) could be added by implementing from scratch.

[2017-10-28 09:43] LibRaw commented on #40
Most likely no in (coming) 0.19, but most likely yes in next version cycle

[2017-10-28 11:43] #53 closed, assigned to nobody

[2017-10-28 18:53] LebedevRI commented on #100
Apparently happens for [Nikon D3400](https://redmine.darktable.org/issues/11791) too.
Really not cool.

[2017-10-28 19:38] LebedevRI commented on #100
So basically all nikon raws "lossy after split" are broken.
https://github.com/darktable-org/rawspeed/blob/46e80e0624acf65043893f9e708fd701bdbba46b/src/librawspeed/decompressors/NikonDecompressor.cpp#L39-L41
https://github.com/darktable-org/rawspeed/blob/46e80e0624acf65043893f9e708fd701bdbba46b/src/librawspeed/decompressors/NikonDecompressor.cpp#L48-L50

[2017-10-28 23:21] axxel commented on #100
Based on your comments above you seem to make the assumption that my ["fucked"](https://github.com/LebedevRI/darktable/commit/f92f3a2577bda0d2faf73f496b9d687e518dac88) HuffmanTable code broke the "lossy after split" files. For that assumption to be true, it would have needed to work before my changes. Have you tried that?

I have the my doubts: The thing is, when working on the rewrite, I was noti

[2017-10-29 11:29] LebedevRI commented on #100
I absolutely did. darktable-2.2.5, that still had the old rawspeed, loads these files flawlessly.
Feel free to try yourself and catch me on a lie.

https://github.com/darktable-org/rawspeed/commit/b213eafc6b3d4a565e52aa97b95872adebcc1879#diff-98d884ed1d3efccaf22be005567a6726R106
[code]
Now, what is the maximal code value (the second array) for `12-bit lossy after split`
https://github.com/darktabl

[2017-10-29 20:39] LebedevRI commented on #100
https://discuss.pixls.us/t/nikon-a-specific-raw-sample-wanted/5483

[2017-10-30 12:08] axxel commented on #100
?!? Why would I have reason to question the truthfulness of your statements?

Given that it worked for the old code, I must have made a mistake in my analysis that lead to me suspecting the code was not working for that special case. As you might have inferred from my awareness of the fact that the "lossy after split" stuff seemed fishy, I was deliberately ignoring the existence of those invalid l

[2017-11-27 07:10] bieber opened #116 "IIQ Regression"
I'm not sure if this technically counts as a regression because there aren't any Credo 40 RAW files in the test set (I added one to raw.pixls.us a few hours ago, I'll attach one to this issue as well), but I believe that commit 65cc3c5e0ccce9bc87c3e80703c7c55e8466c587 broke reading of IIQ files from the Leaf Credo 40 digital back, and I'm guessing all other Credo backs as well.  I *think* the prob

[2017-11-27 07:11] bieber commented on #116
(I just made a really quick hack and changed the constant in IiqDecoder to "Leaf," modified MosDecoder to always return `false` from that function, and it did fix the issue, so it looks like that is the root cause)

[2017-11-27 08:13] LebedevRI commented on #116
Hi!

Correct, if there are no appropriate samples on RPU (well, at least one for that camera), then it is not a regression.

Thanks, validated!

The reasoning does sound plausible. I'll check...

[2017-11-27 10:25] #116 closed, assigned to nobody

[2017-11-27 18:04] bieber commented on #116
Thanks for the fix!

[2017-11-30 16:07] LebedevRI commented on #100
And one more broken piece, from https://discuss.pixls.us/t/darktable-for-windows/4966/264
[DSC_0143.dng.gz](https://github.com/darktable-org/rawspeed/files/1518510/DSC_0143.dng.gz)
`HuffmanTable::decode() {
...
bs.fill(32);` is the culprit, but even then something else is broken still.
Probably related to #94

@LibRaw i really do hope you weren't planning on upgrading anytime soon :)

[2017-11-30 20:34] LibRaw commented on #100
Yes, it looks like we'll skip RawSpeed(v2) support for LibRaw 0.19

We'll try to implement some kind of 'flexible' support. May be via a whitelist of cameras w/o known problems and with sensor megapixel large enough for significant speedup (so, Canon 5DS*, Nikon D8xx, may be Canon 5Dmk4).

[2017-11-30 20:40] LebedevRI commented on #100
I'm not aware which commit was the v2 release btw.
Current tag is v3.0, and i'm following the same scheme as with darktable - odd tag versions mean development version, even - release.

[2017-12-01 06:14] LibRaw commented on #100
v1/v2 was used as 'conventional name' for 'Klaus master' and 'current devel' branches.

Is (some) current branch already used in some darktable release?

[2017-12-01 07:28] LebedevRI commented on #100
Yeah, darktable git master is using rawspeed git develop since
[code]
So 2.4.0 series will be using (and current 2.4.0rc0 *is* using) this code.

[2017-12-01 10:48] axxel commented on #100
I don't use darktable and my rstest has no problem extracting some whitebalance information out of that file. Can you provide some steps to reproduce the issue with using only librawspeed tools?

I can decode that dng but it contains a few apparently wrongly decoded tiles. Do you see any connection between the nikon lossy-after-split behavior and the issues with that DNG file? Can you elaborate wh

[2017-12-01 10:53] LebedevRI commented on #100
@axxel i'm sorry for bothering you, only the original comment in this issue was directed at you, the rest of the comments i'm simply using to record my findings.

[2017-12-01 11:31] axxel commented on #100
No worries, I'm not bothered. As I said earlier this year, I'd be happy to look into any issues with my code, in case something shows up later.

[2018-03-01 15:54] ccmoralesj commented on #100
I was trying to process a .NEF RAW photo from my Nikon D5600 and I got this message:

The console error I got was:
[code]

It seems that here is the issue I'm looking for. I'll wait for support or upgrade for this.

PS. I would be glad to share with you (if needed) photos that triggers this error.

[2018-03-01 15:58] LebedevRI commented on #100
Sorry for the trouble :/

I think so. Though there is more than one issue here.
Some part of it (not the nikon part you are seeing) is fixed in my [WIP branch](https://github.com/LebedevRI/rawspeed/tree/huffmantable)

Thanks, but for D5600, all the needed samples are already present on RPU.

[2018-03-02 17:45] LebedevRI opened #121 "Canon CR3 support."
Though, until the production camera is actually released, and the full set of freely-licensed samples is contributed to the https://raw.pixls.us/, it won't be merged.

[2018-03-02 20:03] LebedevRI commented on #121
Does not appear to be `TIFF`.
Appears to be `ISO Media` / `ISO/IEC 14496-12`.
The actual content of the `'mdat'` box appears to be JPEG-ish, but not old-good lossless-JPEG, because it contains `M_DQT` (define-quantization-tables marker)
[code]
[code]

[2018-03-04 18:03] LebedevRI commented on #121
Hmm, ok, this is strange. Got the `ISO Media` parser working, and hooked-up dummy Cr3Decoder.
The `mdat` chunk is *NOT* lossless jpeg. But it just loads via libjpeg.
Those CR3 appear to be plain demosaiced JPEG's...
(Yes, this is an actual decoded image)
![0001_](https://user-images.githubusercontent.com/88600/36948674-76c3a234-1fef-11e8-9d19-bb27fdc09f37.jpg)

[2018-03-04 18:29] LibRaw commented on #121
According to ffprobe, mdat chunk contains four substreams.
First one is, exactly, JPEG preview, so from libjpeg's point of view this is JPEG file + ~30Mb of garbage (real raw data + makernotes) on tail.

[2018-03-04 18:32] LebedevRI commented on #121
Aha, thank you, that makes more sense. Let's see...

[2018-03-04 18:38] LibRaw commented on #121
unfortunately, two data chunks (1624x1080 and 6288x4056, first one probably is low-res preview) are not lossless jpegs too :(

[2018-03-04 18:45] LebedevRI commented on #121
(I'm still hoping they are JPEG w/arithmetic coding)

[2018-03-04 19:01] LibRaw commented on #121
It does not looks like JPEG (e.g. no FF doubling).

[2018-03-04 19:21] LebedevRI commented on #121
There are 0xFF0xFF sequences in files 05, 11, 19, (looking at the second half of the file in okteta hex editor)

[2018-03-04 20:51] clanmills commented on #121
Thank you folks.  I'm going to keep out of a discussion about the pixels and keep to my domain of metadata.  Thanks to your comments, I've now heard of ffprobe.

[code]

I'll work on the metadata.  We've found the XMP data and I'm confident the Exif (and IPTC) data is in the Canon **_uuid box_** at the top of the file.

Later, I will investigate previews and ICC profiles.

[2018-03-04 20:54] LebedevRI commented on #121
Thank you, @clanmills! Sounds awesome! :)

[2018-03-05 14:22] LebedevRI opened #122 "Stop reinventing the wheel."
This has been circulating through my head for some time, so it might as well be the time to actually write it down.

Presently RawSpeed is mostly[1] up-to-date with the C++ standard.
It requires C++14-conformant compiler/standard library (clang-3.5+, gcc-5+)

It also has very few external dependencies:
* C++ STL.
* [pugixml](https://github.com/zeux/pugixml), for `data/cameras.xml` reading
* libjpe

[2018-03-05 17:14] JonathanDCohen commented on #122
Hey there!  Just dropping in from the Abseil team.  Just some thoughts I had reading your post --

Abseil has everything specified in your table except for Endian support:

| Data Structure  | Abseil Type  | Abseil file  |
|---|---|---|
| Mutex  | absl::Mutex  | absl/synchronization/mutex.h  |
| Span  | absl::Span*  | absl/types/span.h  |
|  optional | absl::optional**  | absl/types/optional.h  |

[2018-03-05 18:02] LebedevRI commented on #122
Thanks for dropping by!

Nice :)

That is mostly non-problem, that one is [trivial](https://github.com/darktable-org/rawspeed/blob/fb157cc89ff5097c41f5eb1f5eb8b1b9164299bc/src/librawspeed/io/Endianness.h#L30-L56).

Oh, nice, i did not thought of that!

**Ideally** i'd expect it to be similar to [that of googletest](https://github.com/google/googletest/tree/master/googletest#incorporating-into-an-e

[2018-03-05 18:55] JonathanDCohen commented on #122
I'm not sure I understand why building Abseil from trunk impedes your own ability to build from trunk unless we accidentally break you -- I assume that is the issue?  Anyways, as was pointed out in our repo, we are very soon having a serious discussion about stable release branches / tags.  So stay tuned there. This also makes me start to think about some way to specify "try to build / test with t

[2018-03-05 19:33] LebedevRI commented on #122
Not really. I'm not sure how to explain it to the people who don't already understand it, sorry :/
Not even looking at the distro side of things, this 'just use current git master' is a serious change from the usual approach. Plus, i don't _actually_ know the opinion of the actual users of *this* library on that matter.
(CC @hanatos / @houz, @LibRaw, @aferrero2707, ..., possibly @Beep6581 in the f

[2018-03-05 20:36] JonathanDCohen commented on #122
The directions at https://github.com/google/googletest/tree/master/googletest#incorporating-into-an-existing-cmake-project should work just fine for Abseil already.  If you decide to go this route and have issues please let me know by filing a bug against abseil.

It's still an open question as of right now.

Oh of course.  But picking up this issue seemed like a great way for us to reach out and

[2018-03-06 10:43] houz commented on #122
As a user of rawspeed I'd like to point out that I wouldn't be happy to see the build system download stuff from the Internet. At all. For google test that's a non-issue as users don't have to build the tests. But a library that is a hard dependency has to be either shipped by the OS or bundled in the source tree.

Apart from that I am happy with anything that isn't Boost.

[2018-03-06 11:52] darix commented on #122
my 2 cents ... as a packager.

No releases just sucks. For many distros it means we will have at least 2 copies of abseil on the distro (rawtherapee and darktable). And I really don't get what would be so hard with tagging releases and allow proper packaging that way. If you expect your users to be able to use HEAD all the time then all your QA should be done already and it is all about making a t

[2018-03-06 21:37] JonathanDCohen commented on #122
@houz The current abseil CMake directions suggest using a local fork and add_subdirectory() already.  A way to do this while staying current to Abseil HEAD is to set up a local mirror of abseil which is pulled from during the build process, for example.

@darix the 5 second version is that Abseil is so low-level that if we have tagged releases, we are almost guaranteeing ODR violations -- suppose

[2018-03-06 22:04] LebedevRI commented on #122
The 'how' part is quite clear to us. We won't invent a new wheel there (LOL), but just add an 'abseil' submodule into https://github.com/darktable-org/rawspeed/tree/develop/src/external
Since right now darktable is using rawspeed as a submodule already, this won't add any new problems. It's a charted territory.

I do understand the gravity of the ODR issue, and the reluctance to do releases.
I abs

[2018-03-06 22:11] JonathanDCohen commented on #122
@LebedevRI @darix This is a great conversation from the perspective of packagers -- would you all mind moving this over to the abseil github so the rest of the team can be in on the discussion?

[2018-03-06 22:13] LebedevRI commented on #122
Absolutely do feel free to @LebedevRI highlight me in the relevant discussions! (packaging, and the cmake stuff to)

[2018-03-08 11:11] LebedevRI commented on #122
@JonathanDCohen where do you want me do output all these thoughts?
(i guess, it would be best to do that before https://github.com/abseil/abseil-cpp/issues/87#issuecomment-370438295 is done..)

[2018-03-11 21:01] lclevy commented on #121
Phil Harvey exiftool 10.82 can parse Canon CR3
it seems there are at least 3 pictures: THMB, PRVW, and other in mdat

[2018-03-11 22:12] lclevy commented on #121
for http://img.photographyblog.com/reviews/canon_eos_m50/photos/canon_eos_m50_01.cr3
mdat contains "trak" picture at 0x6d940, 0x37b030, 0x546c70, and TIFF metadata at 0x2565b98

[2018-03-11 22:16] LebedevRI commented on #121
Yep, that much was understood. Need to continue working on that code.. Hopefully tomorrow?

[2018-03-11 22:48] lclevy commented on #121
I started a CR3 format description here https://github.com/lclevy/canon_cr3 if you are interested in contributing...
I've done it for CR2 here http://lclevy.free.fr/cr2/ and https://github.com/lclevy/libcraw2

[2018-03-12 08:34] clanmills commented on #121
Laurent

This is very helpful indeed.  I wrote an email to you to ask if you were considering working on CR3.  Then I made good progress and decided not to send the email.

I've documented my progress:  https://github.com/Exiv2/exiv2/issues/236

Team Exiv2 will have a meeting on May 5 at my home in England.  This project will be discussed.  There are many demands on the team and only a few contrib

[2018-03-12 21:44] lclevy commented on #121
Hi,
a lots of updates at https://github.com/lclevy/canon_cr3, you can subscribe to the project to see updates

[2018-03-13 03:01] clanmills commented on #121
Thanks for doing this.  It's looking good.

I'm puzzled by the claim (also made by @lclevy  and @LibRaw) that there are 4 images in MDAT.  I only see a single JPEG.  I see there are 4 **_trak_** objects which are a hierarchy of items (CRAW, stsz, co64).  Perhaps you could document the meaning of the objects in the **_trak_** hierarchy.
[code]

[2018-03-13 04:54] lclevy commented on #121
There are 4 parts in mdat: 3 pictures (JPEG, plus 2 with new compression), then metadata like in tiff

[2018-03-13 11:04] clanmills commented on #121
@lclevy   I do not agree that there is a tiff in the MDAT.  Here's my evidence:  https://github.com/Exiv2/exiv2/issues/236#issuecomment-372625849

We agree that there is at least one JPEG in the MDAT.   I'm not convinced there are 3 pictures, however I have no proof to assert there is only 1 picture.

[2018-03-13 11:31] clanmills commented on #121
@lclevy  Apologies.  I am mistaken.  There is a valid tiff in the MDAT and ExifTool reads it.

@LebedevRI Thanks for pointing this out.  By coincidence I discovered and documented this before your email arrived.  Two heads thinking of the same thing!  That's better than no heads thinking!  https://github.com/Exiv2/exiv2/issues/236#issuecomment-372633645

Steady progress.  Great Teamwork. Thanks ev

[2018-03-13 21:32] lclevy commented on #121
updates: THMB and PRVW detailed. confirmed 3 jpeg and their sizes

[2018-03-13 22:56] clanmills commented on #121
Well done, @lclevy.  Very impressive progress.  It's possible I now have sufficient information to parse all the CR3 metadata and thumbnails in Exiv2.

[2018-03-21 17:05] exaexa commented on #100
+1 also waiting for the fix.

Btw @LebedevRI some months ago we've found a workaround to this issue for Nikon J1's (a one-liner patch that I accidentally lost), would you happen to remember what the problem was?

[2018-03-21 17:08] LebedevRI commented on #100
Uhh, if it's one-liner i think it would be changing https://github.com/darktable-org/rawspeed/blob/d41fd6dadc161d1c0bb56463dc35263779fa02f1/src/librawspeed/decompressors/HuffmanTable.h#L309
[code]

[2018-03-21 17:31] exaexa commented on #100
@LebedevRI  Fixed the issue. Thanks a lot. :+1:

(btw -- if that helps someone -- the point where this breaks for me is in BitStream.h, the error I receive is from this IOE:

https://github.com/darktable-org/rawspeed/blob/b8bfc4cb05b99e331d98827242c479ac5f34a014/src/librawspeed/io/BitStream.h#L128

from GDB I could see that pos was larger than size (exactly pos was size+4) when the exception was t

[2018-03-29 17:34] lclevy commented on #121
please find parse_cr3.py ...

[2018-04-02 02:29] zagaberoo commented on #113
Just dropped off compressed and uncompressed color chart photos!

Probably should have done this when I bought the camera rather than just patching my own local version to dup the A7r2 data.

[2018-04-03 08:58] clanmills commented on #121
@lclevy Happy Easter.  We were on vacation last week and now I'm home and would like to look at parse_cr3.py.  Where have you put it?

[2018-04-03 12:24] lclevy commented on #121
https://github.com/lclevy/canon_cr3

[2018-04-03 14:35] clanmills commented on #121
Thanks.  That worked first time.  I'll study that.  Thanks very much.

[2018-04-06 09:20] #113 closed, assigned to LebedevRI

[2018-04-06 22:05] zagaberoo commented on #113
Thanks for integrating!

[2018-05-05 22:16] pzemlyan commented on #40
General Purpose Raw image format API was released: https://github.com/gopro/gpr
Also a few HERO6 samples was uploaded: https://raw.pixls.us/getfile.php/2556/nice/GoPro%20-%20HERO6%20Black%20-%2016bit%20(4:3).GPR

[2018-05-10 16:27] wtanmdt opened #125 "FUJIFILM DBP for GX680 RAF support"
These are shots on the color target of X-Rite ColorChecker Passport:
http://www.weldpass.com/upload/Fujifilm-DBP-for-GX680-daylight.RAF
http://www.weldpass.com/upload/Fujifilm-DBP-for-GX680-tungsten.RAF

 I wonder if rawspeed will be able to support it so that I can process it with Darktable.

Thanks.

[2018-05-10 16:37] LibRaw commented on #125
Minor correction: RawDigger (beta version you already have) indeed supports this format.  The only thing is not supported  is RGB render  (this is not supported for all cameras where sensor resolution does not match RGB render resolution)

[2018-05-10 16:39] LebedevRI commented on #125
That looks like uncompressed raw with some tiling.
But it does not look like just tiling, since all the 'tiles' on the same line appear to have the same content, so only the rows are different.
I'm guessing there is some kind of sub-samplin going on.

[2018-05-10 17:07] LebedevRI commented on #125
I'm having trouble finding pdf usermanual for that back.

So there is more than one raw format?

[2018-05-10 17:17] LibRaw commented on #125
RawDigger does not shows RGB rendering for 'non-square pixels' (pixel 'aspect ratio' is not 1.0), e.g. Nikon D1X, most Fuju SuperCCD cameras, some very old Kodaks. Only RAW display (composite and per-channel) is possible for such cameras.

The only cause for that is interface problem: RAW/RGB rendering are switchable via single button, there is no way to do that if RGB/RAW render size or orientati

[2018-05-10 17:24] LebedevRI commented on #125
@LibRaw i think there may be a translation issue, but to me this really looks like another very good, explanatory, but non-answer... :/

(i'm only looking at the sample we have at raw.pixls.us)
After staring at it a bit more, i think:
1. the camera orientation is wrong, it needs to be rotated -90deg
2. there are 8 columns and 8 rows.
3. the image was split into 8 strips (tile with width = full sen

[2018-05-10 17:29] wtanmdt commented on #125
Sorry that I delete the snapshot since I do not have the permission from Alex to publish it before testing.

[2018-05-10 17:30] LebedevRI commented on #125
I did not download it anyway.

[2018-05-10 17:35] LibRaw commented on #125
Here is decoder:

[code]

[2018-05-10 21:36] LebedevRI commented on #125
@wtanmdt before i proceed with this issue, do you own that back?
I need an answer to https://github.com/darktable-org/rawspeed/issues/125#issuecomment-388118669

[2018-05-10 21:41] wtanmdt commented on #125
@LebedevRI
Yes, I own that back.
Your help is really very appreciated.

[2018-05-10 21:44] LebedevRI commented on #125
Note that was only the first part of the question.
Is there more than one raw format selectable on that back?

[2018-05-10 21:45] wtanmdt commented on #125
@LebedevRI
There is only one raw format available on that back.

[2018-05-10 21:48] LebedevRI commented on #125
OK, thank you.

[2018-05-10 21:53] wtanmdt commented on #125
@LebedevRI
Thank you for your time and efforts.

[2018-05-11 11:42] LebedevRI commented on #125
@wtanmdt if you could contribute some better (than we currently have) sample to https://raw.pixls.us, that would be great, i don't really like the current one https://raw.pixls.us/getfile.php?type=preview&id=2069
Something like outside nature landscape would be best.

[2018-05-11 13:37] wtanmdt commented on #125
@LebedevRI
I will. Please allow me 2 days as it is overcast today and tomorrow.

[2018-05-13 12:15] wtanmdt commented on #125
Is this photo better? @LebedevRI

![dscf0012_1](https://user-images.githubusercontent.com/34220266/39967222-3390ef70-567d-11e8-9819-d7c79bacc7fd.JPG)

[2018-05-13 12:17] LebedevRI commented on #125
Looks underexposed by one-two stops, but yes, better.
(RPU seems down at the moment :/)

[2018-05-13 12:20] wtanmdt commented on #125
Maybe this one better?
![dscf0011_1](https://user-images.githubusercontent.com/34220266/39967266-00da9a3a-567e-11e8-859e-b063047d4a37.JPG)

[2018-05-13 12:21] LebedevRI commented on #125
If there are more than one, just upload them all to https://raw.pixls.us, i will deduplicate them.

[2018-05-13 12:21] wtanmdt commented on #125
and this one
![dscf0010_1](https://user-images.githubusercontent.com/34220266/39967282-3f74f880-567e-11e8-8696-99602ee074a9.JPG)

[2018-05-13 12:29] LebedevRI commented on #125
Thanks, deduplicated down to https://raw.pixls.us/getfile.php?type=preview&id=2574

[2018-05-13 15:05] LebedevRI commented on #125
After looking at the exif (e.g. [diff](https://raw.pixls.us/diff.php/2574/1769)), i'm not seeing any obvious tag that would identify this raw variant from the others :/
Maybe other than `RawImageFullSize` vs `RawImageSize` mismatch..

[2018-05-14 16:18] ralfbrown commented on #100
I just uploaded a D7000 14-bit "lossy after split" image to RPU (though it's not showing in the repo search yet -- looks like that's updated once a day?).  I discovered that even last night's git master still breaks on them when I went back to revisit some old photos.

[2018-05-15 03:43] wtanmdt commented on #125
This is beyond my knowledge. Many thanks for your time. @LebedevRI

[2018-05-16 19:08] shoffmeister commented on #100
Would there be any chance that the patch from above

-bs.fill(32);
+bs.fill(maxCodePlusDiffLength());

gets dropped into develop / into some darktable release? It's difficult for me to set up a build environment (on Windows)...

[2018-05-16 19:13] LebedevRI commented on #100
Thanks!

There is a pre-review.

It's *quite* broken beyond that i'm afraid.
Now that i finally bothered to push the NFC test changes (https://github.com/darktable-org/rawspeed/compare/f5eeb2dee1bfe8e16496c97c91d179d60c884b42...9a520178f355c5bc2a68eb3c82c12e256a9ab5df),
i just need one more push to finish the more major part of the fix
(https://github.com/darktable-org/rawspeed/compare/develop...L

[2018-05-16 19:23] shoffmeister opened #126 "Panasonic G9 high-resolution RW2"
darktable 2.4.3 (for Windows) appears to fail reading Panasonic LUMIX DC-G9 high-resolution RW2 raw files.

The error message emitted by darktable is "failed to read camera white balance".

The photos have the following dimensions (according to exiftool):
* high-resolution item ("HR"): 10368x7776
* "simul record normal shot" (simulate recording a single normal shot = "SIM"): 5184x3888

If one was

[2018-05-16 19:24] shoffmeister commented on #126
FWIW, RawTherapee 5.4 willingly opens both RW2, but reads /renders total garbage for both files.

[2018-05-16 19:25] LebedevRI commented on #126
Is there a sample on RPU?

[2018-05-16 19:32] shoffmeister commented on #126
I just (thought that I) uploaded two files (32 MB, 125 MB) onto RPU - I got "thanks", but I do not see these files in the repo list?

[2018-05-16 19:37] shoffmeister commented on #126
FWIW, the Panasonic documentation for the Panasonic LUMIX DC-G9 can be found at https://eww.pavc.panasonic.co.jp/dscoi/DC-G9/EG_EC_EF_EB/DC-G9_DVQP1406ZA_eng.pdf - the magic keyword is "[High Resolution Mode]" (page 196)

[2018-05-16 20:05] shoffmeister commented on #126
FWIW, SILKYPIX Developer Studio 4.4 SE (Version: 4.4.14.5) - for Panasonic cameras only, runs on Windows and OSX - is able to open these raw files and render them.

Don't slaughter me for mentioning that https://www.isl.co.jp/SILKYPIX/english/p/support/download/ has a download available and that installation on Windows is painless, not needing anything like a serial number or what-not. But that do

[2018-05-16 20:25] LebedevRI commented on #126
There is a pre-review.
Thanks for submitting those samples, but they are really unhelpful.
Please contribute something better/more recognizable, like daylight landscape.

I have taken a quick look at the raws themselves, they look to be still compressed,
but interestingly the width is no longer a multiple of `14`, which breaks all later assumptions.

[2018-05-16 20:54] shoffmeister commented on #126
I will go hunting for daylight ASAP ;)

May I suggest that https://raw.pixls.us/ gets some language which indicates preferences general preferences? Right now the web site makes it appear as if anything is good enough. Perhaps mention: "Ideally a correctly exposed photo, taken in daylight, of a landscape"?

[2018-05-16 20:56] LebedevRI commented on #126
You mean like this one:
![image](https://user-images.githubusercontent.com/88600/40143649-ad837a34-5964-11e8-8977-c32664302939.png)

[2018-05-16 20:57] shoffmeister commented on #126
I mean the (missing) bullet item / paragraph immediately before "We are **NOT** looking for:" ;)

[2018-05-16 21:07] shoffmeister commented on #126
FWIW, Adobe DNG Converter 10.1 is able to read both files and transform them into DNGs of size 13 MB and 48 MB, respectively.

Note how the files shrank quite considerably from RW2 -> DNG (32 -> 13 MB; 125 -> 48 MB), while declared resolution remains at 5184x3888 and 10368x7776 respectively.

[2018-05-16 21:28] shoffmeister commented on #126
Ah ... and now this gets rather fancy: darktable reads the DNG files produced by Adobe DNG Converter 10.1 - and, according to darktable (image information width/height), the resolution of these DNG files is 5280x3904 and 10480x7794.

I have reconfirmed that exiftool shows 5184x3888 and 10368x7776 for both RW2 and DNG.

[2018-05-17 09:58] shoffmeister commented on #126
I have just uploaded two new files at https://raw.pixls.us/

These new files show the nice green tree watered by rainy weather just in front of my door. Better subjects are conditional to better weather ;)

[2018-05-19 10:34] shoffmeister commented on #126
I just discovered that FastRawViewer 1.4.6 (https://www.fastrawviewer.com/blog/FastRawViewer-1-4-6-release) has added support for the Panasonic G9 in high-res mode.

Perhaps @LibRaw might be able to chime in?

[2018-05-19 10:58] LibRaw commented on #126
[s]We'll publish G9 support in next snapshot (end of summer, or a little later). Now we're focused on 0.19 final polishing[/s]

Correction: it is supported in LibRaw 0.19

[2018-05-19 10:59] shoffmeister commented on #126
Ah: "Alexey Danilchenko's GH5S/G9-hires patch

disable rawspeed for new panasonic decoder"

https://github.com/LibRaw/LibRaw/commit/9fc4e05565ccda07e8479b197cf8f166f94f53c6

[2018-05-19 11:04] LibRaw commented on #126
I was sure, we've added it to 0.19, but looked into code and have not see it,

The problem was: I've looked into 0.19-tarball dcraw/dcraw.c which is original Dave Coffin's code.

Yes, G9/GH5s are already supported by current 0.19 pre-release (beta5)

[2018-05-19 11:04] LibRaw commented on #126
(G9-> read as G9 high res)

[2018-05-19 13:24] LebedevRI opened #127 "[1/3] Regression: huffmantable is just broken."
Split off from https://github.com/darktable-org/rawspeed/issues/100
The current `HuffmanTable` implementation is just completely broken.
Like, i have stopped counting the amount of bugs it has.
In retrospect, https://github.com/darktable-org/rawspeed/pull/36 should not have been merged.

[2018-05-19 13:24] LebedevRI opened #128 "[2/3] Regression: huffmantable is bad for last decode"
Some raws appear not to have padding at the end, so when we do `bs.fill(32);`, we fail.
Changing https://github.com/darktable-org/rawspeed/blob/d41fd6dadc161d1c0bb56463dc35263779fa02f1/src/librawspeed/decompressors/HuffmanTable.h#L309
[code]
seems to help somewhat, but i don't know the full solution yet.

[2018-05-19 13:24] LebedevRI opened #129 "[3/3] Regression: nikon lossy after split raw support are completely broken."
The LUT code assumes that all values are actually lenghts, and are smaller than 16, which isn't the case for nikon lossy-after-split raws.

[2018-05-21 10:12] shoffmeister commented on #126
Reading around, it would seem as if Panasonic is switching to a new raw format for the newer cameras. Specifically, the Panasonic DC-GH5S seems to use the same format "natively" as the Panasonic DC-G9 in its dedicated high-resolution mode. (GH5s raws can be found at https://www.dpreview.com/reviews/panasonic-lumix-dc-gh5s-review/6, nothing on RPU as I am writing this)

The commit in the libraw rep

[2018-05-21 10:15] LebedevRI opened #132 "It seems BitStream/BitPumps are broken, too"

[2018-05-21 10:16] LebedevRI commented on #126
And still not LJPEG
(╯°□°）╯︵ ┻━┻)

[2018-05-21 10:23] shoffmeister commented on #126
... which, clueless as I am, I would consider beneficial for my own personal sanity, as LJPEG seems to be using Huffman encoding to (losslessly) compress? (https://en.wikipedia.org/wiki/Lossless_JPEG)

[2018-05-21 10:25] LebedevRI commented on #126
Yeah, all these manufacturer-specific compressions (RW2, ARW, ...) are pretty bad even at compressing,
and some even introduce artifacts.

[2018-05-21 16:00] shoffmeister commented on #126
Just for the public record: A very exploratory implementation is currently located at https://github.com/shoffmeister/rawspeed/tree/wip/rw2-g9-gh5s-support

[2018-05-23 20:25] shoffmeister opened #137 ""zero_is_not_bad" hint implemented for RW2, never active"
On my local darktable installation

    /usr/share/darktable/rawspeed$ grep "Hint " * | sort

shows that none of the cameras defined in cameras.xml implements the hint "zero_is_not_bad".

In rawspeed implementation, zero_is_not_bad is only used in the context of RW2 processing. It is always used in such a fashion that zero_is_bad = !zero_is_not_bad.

This implies that for all RW2 formats, zero_is_

[2018-05-23 20:34] shoffmeister commented on #137
For the record, I just took a photo with a Panasonic G9 in "real" high-resolution mode, in a pitch black environment, with electronic shutter at 1/32000. It (hopefully) does not get any more black than that.

Result: I get 1589 "instances" of zero in such a file (out of 81681120 pixels). Now, the "simulate as a single shot" high-resolution file (which is just the first exposure without any composi

[2018-05-23 20:44] LibRaw commented on #137
@shoffmeister, could you please share some black frame images (with lens caps on) in high-res mode (different ISO,  including some long exposure, like 20sec at highest possible ISO value)?

It is easy to estimate probability of 'natural zeroes' after estimating standard deviation of black frame files..

[2018-05-23 20:59] shoffmeister commented on #137
Proposal for test design:
ISO 200; 1/32000; f/22; electronic shutter
ISO 3200; 1 second; f/22; electronic shutter
ISO 25600; 60 seconds; f/22; mechanical shutter

Anything beyond that? I would only want to do that once, so prep once, shoot once :)

This would generate one "simulate single shot" (first exposure) and one real high-resolution shot (eight exposure composited into one) - 32 MB + 125 MB

[2018-05-23 21:15] shoffmeister commented on #137
Oh, and Panasonic Japan have announced a firmware update for the G9 (and GH5/GH5s) by end of May 2018, see https://news.panasonic.com/jp/topics/160585.html

For the G9 they promise updating the high-resolution mode: "Improvement of motion correction performance of high resolution mode."

It might be convenient to (also) look at the data after the firmware update?

[2018-05-24 06:08] LibRaw commented on #137
@shoffmeister, for temp transfer we suggest our users to use WeTransfer service (free option). The link does not last long, but enough for transfers.

I'm interested to have 1 second and 60 second at ISO 25600 (to look at possible noise reduction signs)

[2018-05-24 17:04] shoffmeister commented on #137
Updated proposal for test design:
ISO 200; 1/32000; f/22; electronic shutter
ISO 3200; 1 second; f/22; electronic shutter
ISO 25600; 1 second; f/22; mechanical shutter
ISO 25600; 60 seconds; f/22; mechanical shutter

[2018-05-25 21:02] shoffmeister commented on #137
Ho-humm - my proposal is stupid - it does not cover high-resolution mode at all. High-resolution mode on the Panasonic G9 only works with the electronic shutter (ha!), and has an ISO cap at 1600, and an aperture cap (until the May 30 firmware update) at f/8.

Lets try this, then:
ISO 1600; 1 second; f/8; electronic shutter
ISO 200; 1 second; f/8; electronic shutter
ISO 200; 1/32000; f/8; electroni

[2018-05-26 08:33] LibRaw commented on #137
Thank for test set.
Here is histogram of ISO200/1/32000 hi-res image (zero_is_black not used in LibRaw for these files):
![image](https://user-images.githubusercontent.com/88600/40574345-d679a2d0-60d8-11e8-80ef-e7b8480cfffe.png)
(vertical scale is logariphmic).

Things to mention:
 - at this low ISO/short exposure, zero pixels are not expected (see bell curve shape around black level), but exists

[2018-05-26 08:55] LebedevRI commented on #137
@LibRaw you can just copy-paste images into here, it will just work.

Detecting bad pixels by comparing them against some magic threshold (**especially** non-zero)
feels like a very dirty hack :/
If the bad pixel info is stored in makernotes, hell yes, let's use that.

Otherwise, i would personally prefer for a new darktable iop,
`coldpixels`, which would run before `rawprepare` (which does black

[2018-05-26 09:05] shoffmeister commented on #137
I *think* we are looking at very peculiar case here - this is a file that has been cobbled together by in-camera processing of eight exposures.

~~@LibRaw - what does the matching "simulated single shot" look like (P1001271.RW2 - 32 MB)?~~ (Missed the fact that you had already replied - they have no zeros) This simulated single shot is, according to the Panasonic manual, the *unprocessed* first ex

[2018-05-26 09:08] shoffmeister commented on #137
@LibRaw - would it provided any insight if I shot plain dark exposures at various ISO settings?

Like, really, plain exposure (i.e. not high-resolution) at
ISO 25600/1s/f22, mechanical shutter
ISO 25600/60s/f22, mechanical shutter

That will write in the "old" RW2 format, but might provide insight into that specific sensor that we are looking at?

[2018-05-26 09:34] shoffmeister commented on #137
@LebedevRI - perhaps a semi-generic pixel filter iop could be of benefit in darktable?

option: filter low values; low value threshold; substitute value
option: filter high values; high value threshold; substitute value

(semi-generic as the transformation function is just a step function)

In the case of the G9, I will be applying the firmware upgrade as soon as possible (very early June). Perhap

[2018-05-26 10:05] LebedevRI commented on #137
Generic stuff usually does everything badly with bad performance.

There is already a `hotpixels` module (right before demosaic),
which does a fuzzy detection of hot pixels by comparing with surrounding pixels.
It won't really work well for these dark pixels, because even thought they are
initially dark (more or less below the black level), it runs after black level subtraction,
and after black le

[2018-05-26 10:23] LibRaw commented on #137
Folks,
1) Based on data I see in frames provided above, I do not see any image-quality problems with filtering of non-zero (near-the-zero) pixels in blue channel: these pixels are *way* below possible level (compare bell-shape with values). If not fixed, these pixels may provide black dots on some even (bright) background.
So, generic 'near_zero_is_bad' module looks as good idea.

2) The 'warm' pi

[2018-05-26 10:35] LebedevRI commented on #137
Let me summarize my position/view:
* `Based on data I see in frames provided above`,
  only considering pixels [that are zero] to be bad may not be enough,
  there are some pixels that are slightly above zero.
* If that threshold (if the pixel value is less than, or equal to the `value`, then it is bad)
  is somehow stored in the makernotes/exif, then we can fix that in rawspeed.
* If the badpixel

[2018-05-26 10:47] shoffmeister commented on #137
Are there tools which would allow targetted visual inspection of the problematic pixels within an a larger image context?

Or just simply tools which would conveniently collect the set of "problematic" pixels?

With those tools, it could be possible to determine
- the stability of the problematic pixel coordinates given comparable light scenarions ("always all dark")
- the behaviour of the composi

[2018-05-26 11:09] shoffmeister commented on #137
PS: Just noticed that only two raw format decoders have awareness of bad pixels: DNG, RW2 (except for the new v5 raw format).

So, doing statistics on many G9 high-resolution photos on "outliers" found in `*dest = bs->getBitsNoFill(dsc.bps);` (for the new v5  raw format) might be interesting?

[2018-05-26 11:12] LibRaw commented on #137
AFAIK, there is no such thing as 'straight sensor data' today. Many  (most? all?) cameras process raw values before recording (easily see on noise spectrum plot, or on just noise vs exposure time plot)

[2018-05-26 11:24] LebedevRI commented on #137
I mostly agree with https://github.com/darktable-org/rawspeed/issues/137#issuecomment-392254468.
There is no definition of what 'straight sensor data' is, so it can be argued either way.

Some of ISO push/pull may be done after readout and ADC, some cameras adjust noise in raws,
*some* cameras produce multiple exposures combined in various ways as raw,
a few of [super dumb] cameras even correct vi

[2018-05-26 11:46] shoffmeister commented on #137
I have created https://www.dpreview.com/forums/post/61187570 to rattle a chain on zero data in high-resolution raws in the G9.

[2018-05-27 23:45] shoffmeister commented on #137
The wonders of R seem to provide additional insight, see script below.

The only data point I have investigated with that script is the one high-resolution file that is also on RUP.

What the script seems to indicate is that, yes, there are zero values in the PPM file (which is dumped straight from the decoded values). But the script claims that all these values are within a well-defined rectangle

[2018-05-27 23:49] shoffmeister commented on #137
It might now be interesting to employ https://www.rdocumentation.org/packages/adimpro/versions/0.8.2 and then have a look at the individual channels, again, for outliers?

[2018-05-28 07:07] LibRaw commented on #137
OK, that means that one should use panasonic-specified cropping, not 'maximum visible pixels area'.
Good point.
I'm too busy now with other tasks, I'll return to your samples (and panasonic cropping) in a few days.

[2018-06-06 07:45] #126 closed, assigned to nobody

[2018-06-20 19:43] ilyapopov commented on #122
By the way, Abseil team released an LTS branch: https://abseil.io/about/releases

[2018-06-20 19:44] LebedevRI commented on #122
Still no release though https://github.com/abseil/abseil-cpp/releases

[2018-07-24 22:17] ccmoralesj commented on #100
I was wondering... Is this bug fixed, yet? and added to release candidate?

[2018-07-25 06:05] LebedevRI commented on #100
Fully - no, not yet.
I've fixed the base glaring issues in #130, but as cross-fuzzers (between two different huffman table implementations) tell me, there are still _issues_.
i'm going to re-look into the nikon issue (#129) next.

[2018-07-25 07:35] exaexa commented on #100
regarding nikon, please ask if you'd need NEFs that fail to decode; I can generate them on demand.

[2018-07-25 07:38] LebedevRI commented on #100
Which camera? There are ~6 such raws on RPU already, so i think *now* * the samples are not an issue

* If only those samples were in rawsamples.ch back then :/
   transition of rawspeed, and a fork fo rawsamples.ch -> RPU happened at the same time

[2018-07-25 07:45] LebedevRI commented on #100
Which camera? There are ~6 such raws on RPU already, so i think *now* * the samples are not an issue

EDIT: right, J1

* If only those samples were in rawsamples.ch back then :/
   transition of rawspeed, and a fork fo rawsamples.ch -> RPU happened at the same time

[2018-07-25 07:48] exaexa commented on #100
Yeah, J1. I've already put a sample from that to RPU. If I find any other camera doing the same I'll post it.

[2018-08-07 22:14] LebedevRI commented on #122
https://github.com/abseil/abseil-cpp/releases/tag/20180600

[2018-08-07 22:17] darix commented on #122
https://github.com/abseil/abseil-cpp/issues/155

[2018-08-14 16:40] m-mmm commented on #100
Is there a way to test rawspeed on a raw file using command line?

My idea is to convert affected files to DNG. I would be better than converting all my files.

Also: I have a lot of affected D5500 samples with no people in, if needed I can provide those.

[2018-08-14 16:44] LebedevRI commented on #100
Sure. `darktable-rs-identify` tool if you are using darktable.

[2018-08-14 16:58] m-mmm commented on #100
How do I use it? It always shows this message:
WARNING: Couldn't find cameras.xml in 'C:/darktable/darktable-install/share/darktable/rawspeed/cameras.xml'
WARNING: Couldn't find cameras.xml in 'darktable-rs-identify.exe/../share/darktable/rawspeed/cameras.xml'
ERROR: Couldn't find cameras.xml in 'darktable-rs-identify.exe/../share/darktable/rawspeed/cameras.xml'
terminate called after throwing an

[2018-08-14 17:00] LebedevRI commented on #100
No idea, i don't use windows, i can't help here.

[2018-08-27 17:38] LebedevRI commented on #94
Was implemented in https://github.com/darktable-org/rawspeed/commit/e9eafa1ab3c8eaee852a968fa625391f8d4dbc90 / https://redmine.darktable.org/issues/12242, but i forgot this issue existed.

[2018-08-27 17:38] #94 closed, assigned to nobody

[2018-08-27 17:43] LebedevRI opened #139 "Investigate Olympus E-M5MarkII multishot / SH-2 raws"
Affected samples: (are currently not supported (decode to garbage).)
* `Olympus/E-M5 Mark II/M0082437.ORF` (multishot)
* `Olympus/SH-2/PC260009.ORF`

[2018-08-27 17:46] LebedevRI opened #140 "TableLookUp needs a rewrite."
Just completely broken. https://github.com/darktable-org/rawspeed/pull/138/commits/d4be7f42e9bbb58e0033006852f85c6fa7343916 https://github.com/darktable-org/rawspeed/pull/138/commits/4ebeddc4a2562846be48c7a6adbf552887bd8fc9
Should be rewritten (with tests!) cleanly, to something much like the Spline ([1](https://github.com/darktable-org/rawspeed/blob/55b7a49b3d59a7c5c2485bab04cfba5e14413c89/src/li

[2018-08-27 17:50] LebedevRI opened #141 "Kodak Decompressor might be broken."
https://github.com/darktable-org/rawspeed/commit/17699af765a557e5abec083772eed5512a96340c
It is very _unusual_ that it
* truncates decoded differences
* stores them as 16-bit unsigned
* uses unsigned 'predictor'
* and pretends to do modulo-2 arithmetics (by truncating, and using the lowest 16 bits of predictor for the output pixel)

[2018-08-27 17:53] LebedevRI opened #142 "IiqDecoder/PhaseOneDecompressor might be doing something wrong/unsufficient"
https://github.com/darktable-org/rawspeed/commit/865c5e4682ef58c28c2aa28c32352ae1d4a08ffd

Not sure about this.
Somehow, the decoded image dump does not change if the predictor is instead properly `clampBits()`ed.
Although, dcraw would consider this as an error, so it is possible that something larger in the decoding is wrong/missing.

[2018-08-27 18:01] LebedevRI opened #143 "OlympusDecompressor handles predictor weirdly."
https://github.com/darktable-org/rawspeed/commit/69ccfe6095bf9d854526a09358a964da9e8b40f3
That code is such a mess.
It's manually unrolled for the inner two pixels,
and it does different opposite things in the both cases
- one updates predictor and then truncates the output pixel from that
- the other updates predictor with the truncated output pixel...

Even if the truncation are correct (as oppo

[2018-09-04 15:04] LebedevRI opened #144 "Hasselblad LJPEG issues"
Many Hasselblad cameras produce `3FR` with kinda weird, missized `LJPEG`'s - after `M_SOS` marker (i.e. the image)
https://github.com/darktable-org/rawspeed/blob/60655d481d44733c60d2b781c928d91d12de63f9/src/librawspeed/decompressors/AbstractLJpegDecompressor.cpp#L101-L102
we don't 'naturally' finish with `M_EOI`, but the last marker is sudo-truncated.
So even though we properly decoded the image,

[2018-09-08 16:51] #141 closed, assigned to nobody

[2018-09-12 08:19] LebedevRI commented on #143
Hmm, apparently https://github.com/darktable-org/rawspeed/issues/139 needs to be resolved first..

[2018-09-18 13:23] LebedevRI commented on #139
SH2 seems to only produce uncompressed raws, so that was easy.
But E-M5MarkII multishot raws are `"force_uncompressed"` + `"packed_with_control"` + different (from it's normal raws) CFA pattern.
UGH.

[2018-09-18 22:03] LebedevRI opened #145 "Does anyone actually depend on updating cameras.xml only?"
https://github.com/darktable-org/rawspeed/tree/615af31a22f0212bb7b646f246a253a513ba9ff6/data
[code]
To me this reads like there is implied support for the **any** version of the `cameras.xml`
to work with **any** version of the library.
I somewhat suspect this is already silently broken here and there.

Is anyone actually actively using this, and depends on this?

CC @LibRaw, @aferrero2707, @rawst

[2018-09-19 06:28] abrander commented on #145
I have only a vague memory of how we use RawSpeed in Rawstudio-land, but I don't remember we ever updated `cameras.xml` without updating RawSpeed.

[2018-09-19 08:03] LibRaw commented on #145
Current LibRaw+RawSpeed (very old one) combo uses compiled-in cameras.xml and no interface provided for user-specified cameras.xml.

[2018-09-19 09:12] axxel commented on #145
I considered the xml and the library to be a unity, too. In fact I would very much prefer if the information inside the xml would be compiled into the binary. The whole burden it puts on the client side build and distribution system of putting this file at the right place and dealing with search path issues on all platforms is just a nuisance and brings no value (to me).

I'd also like to mention

[2018-09-21 13:47] LebedevRI commented on #145
Thanks everyone for the feedback!
It is utmost relieving that no one *actually* used that.

[2018-09-21 18:25] #145 closed, assigned to nobody

[2018-09-21 18:25] #139 closed, assigned to nobody

[2018-09-21 18:25] #143 closed, assigned to nobody

[2018-09-24 12:06] supertobi commented on #40
GoPro just released the HERO7, are there any news here ore in @LibRaw?

[2018-09-24 12:14] LebedevRI commented on #40
Here - no, nothing has changed.

After reading through the existing crumbs of info on the Canon's CRX codec,
they both seem to be based on wavelets, which is, i suppose, not all that surprising.
So _maybe_ after Canon's CRX codec is implemented,
_maybe_ this could be implemented on top of that code.

[2018-09-24 12:27] lclevy commented on #40
https://github.com/lclevy/canon_cr3/blob/master/readme.md#crx-compression

[2018-09-25 20:48] stloeffler commented on #40
As I needed this myself, I implemented a basic GPR decompressor in #146 - I hope this helps.

[2018-09-25 21:45] supertobi commented on #40
Btw. I just discovered this project:
https://github.com/emericg/libcineform

[2018-09-25 22:06] adeelabbas opened #147 "GPR File Support"
Would be nice to include support for [GPR](https://github.com/gopro/gpr) files in rawspeed.

[2018-09-26 06:22] LebedevRI commented on #147
#40

[2018-09-26 06:22] #147 closed, assigned to nobody

[2018-10-14 13:19] LebedevRI commented on #22
@parafin re OSX:
Have you seen
https://gitlab.kitware.com/cmake/cmake/issues/17775
https://gitlab.kitware.com/cmake/cmake/merge_requests/1812
https://iscinumpy.gitlab.io/post/omp-on-high-sierra/
https://github.com/Kitware/CMake/commit/e3cd7c1e014aa48b72d414104b9c1bd6bc03fd64#diff-ae0a179d6813ec707caeada5cab5e63e
?
That suggests OpenMP is now working with XCode.

With that, i think one of my main p

[2018-10-15 08:22] parafin commented on #22
@LebedevRI, yeah I've seen that XCode now supports OpenMP, but I'm yet to update it because that also requires OS update. Will take a look sometime.

[2018-10-15 08:26] LebedevRI commented on #22
Would be **really** great to get away from requiring `CC=gcc-openmp` (but keeping `CXX=xcode-noopenmp` *sic*).

[2018-10-16 21:28] LebedevRI opened #148 "HuffmanTable* stuff needs an overhaul"
It's still too tightly coupled.
There are two things there:
1. Generating Codes/Symbols as specified by JPEG spec
2. Using some symbol table* to perform decoding
    It isn't necessary that said symbol table actually contains Huffman Codes as per JPEG spec,
    it only needs to satisfy the rules*

* strict total ordering, no two codes have the same prefix

[2018-10-20 17:31] #40 closed, assigned to nobody

[2018-10-20 22:05] ilyapopov opened #149 "Several Nikon RAW files fail to open due to error in HuffmanTable"
I have three raw files from today's shoot that fail to open in darktable 2.4.4 with the following errors:

[code]

Raw file is available at https://yadi.sk/i/4KCDBWBj0t_84A

[2018-10-20 22:09] ilyapopov commented on #149
Probably duplicate of #100 . Feel free to close.

[2018-10-22 16:49] dsaronin commented on #100
Is there any type of workaround possible for this error until the bug gets fixed?
Is it possible to use the white balance info from another RAW NEF file which isn't broken?
I see that Darktable is able to generate a thumbnail image for the file.
Right now I'm dead in the water and unable to edit some files from the camera.

[2018-10-22 17:22] LebedevRI commented on #100
It's not about white balance. That dt's message is uninformative/misleading i'd say.
It quite literally fails to decode the whole image.

No. Those are exif2 thumbnails, which are shown by default unless you opt into raw preview.

*Which* bug are you seeing? I.e. can you show the error console output?

But,
* use older darktable (2.2.x should be last good i think?)
* convert those specific nef's t

[2018-10-22 20:54] dsaronin commented on #100
Thanks for the response.
The error message was something about an error with the White Balance data.

I see that POLARR has no problem accessing the NEF raw files, so I can
temporarily use that, even though I prefer darktable.

On Mon, Oct 22, 2018 at 10:25 AM Roman Lebedev <notifications@github.com>
wrote:

[2018-10-29 18:44] LebedevRI commented on #149
Of #129.
(Almost 2 years from introduction of an regression is indeed not ok.)

[2018-10-29 18:44] #149 closed, assigned to nobody

[2018-10-29 20:04] #129 closed, assigned to LebedevRI

[2018-10-30 09:29] LebedevRI commented on #100
FYI i have finally (sigh) restored then nikon lossy-after-split support (#129).
So the _main_ remaining problem is #128, the last decode.
Not quite sure what is up with #127, might be a semi-duplicate of #132.

[2018-10-30 09:36] m-mmm commented on #100
Hi,

 

this sounds wonderful! Thank you.

 

Did you read my mail about this script which can mass-test files with rawspeed? I'd like to share it but I'm not sure how to properly do that.

 

BR, Micha.

 

Gesendet: Dienstag, 30. Oktober 2018 um 10:30 Uhr
Von: "Roman Lebedev" <notifications@github.com>
An: darktable-org/rawspeed <rawspeed@noreply.github.com>
Cc: m-mmm <michael.fritze@web.de>, Co

[2018-10-30 09:42] LebedevRI commented on #100
Uh, nothing recent comes to mind..

In principle, you can just pass `-DRAWSPEED_ENABLE_SAMPLE_BASED_TESTING=ON -DRAWSPEED_REFERENCE_SAMPLE_ARCHIVE=<raw.pixls.us checkout>` when building,
and use `ninja rstest-{create,recreate,test,check,clean}` build targets.
(see [sample-based-testing.cmake](https://github.com/darktable-org/rawspeed/blob/b12be2298333174e62c042af28c10511cdf6b436/cmake/sample-based

[2018-10-30 09:52] m-mmm commented on #100
Hi Roman,

 

I sent this to the dev mailing list:

 

[darktable-dev] Script for checking RAW files rs-check.py

Hi,

I have lots of pictures which are affected by a bug that DT can't process it.
The problem is in the rawspeed module. E.g.:
https://redmine.darktable.org/issues/12152

My workaround is a python script which uses darktable-rs-identify to check all
files in a folder. It creates a rep

[2018-10-30 10:05] LebedevRI commented on #100
Ah, that explains why i have not seen it.
I would have guessed you could simply attach it to the mail to the mailing list.

[2018-10-30 10:15] m-mmm commented on #100
OK, I can send it in the evening.
 

Gesendet: Dienstag, 30. Oktober 2018 um 11:05 Uhr
Von: "Roman Lebedev" <notifications@github.com>
An: darktable-org/rawspeed <rawspeed@noreply.github.com>
Cc: m-mmm <michael.fritze@web.de>, Comment <comment@noreply.github.com>
Betreff: Re: [darktable-org/rawspeed] Regression: huffmantable is broken. (#100)

I sent this to the dev mailing list:

Ah, that explain

[2018-10-30 19:36] m-mmm commented on #100
Ok, I attached my script.
Version 0.0.3 DRAFT
Required Parameter:  path to folder containing raw files
optional Parameter: -m: move files with errors to a sub dir
It generates 3 report files in the picture folder: a log file, a list of ok files
and a list of buggy files.
Does not dive into sub dirs.

Required: Python 3.5.x+
Tested on Windows, 2.4.4 install has a bug, so please create a folder C:
\

[2018-10-30 20:22] LebedevRI commented on #100
I meant the dt-dev list.
github does not deal with mail attachments, it just silently drops them.

[2018-11-05 20:53] LebedevRI commented on #148
Some more unstructured minddumps, after staring at all that code for **_some_** time:
* There are three ways to acquire code symbols:
  * The "smart" algo like in [`AbstractHuffmanTable::generateCodeSymbols()`](https://github.com/darktable-org/rawspeed/blob/8b142cd23afd129ceaf00d3525f4713cba7323ca/src/librawspeed/decompressors/AbstractHuffmanTable.h#L115-L145)
  * The obviously-correct algo as in

[2018-11-21 18:12] LebedevRI commented on #128
@exaexa hi. (+ others affected, who tried this)
With this fix, did you ever seen any NEF's still failing to decode?
Or does this appear to fully resolve the situation?

[2018-11-22 22:17] exaexa commented on #128
Which one, the workaround or the "unfucking" commit from May?

I'm pretty sure there weren't any extra issues with the workaround and I think that I'm already on a newer version without the workaround and with the commit. Going to verify ASAP.

[2018-11-22 22:41] exaexa commented on #128
Negative, the problem is still present (tested on darktable+rawspeed from git; rawspeed commit 2bc2bf5  is there)

You can get an affected file for testing here: http://e-x-a.org/stuff/_DSC0193.NEF  (not sure if the previous sample I posted to pixls got fixed or not, but it seems more like not).

[2018-11-23 06:33] LebedevRI commented on #128
The this one in this issue:

[2018-11-27 09:30] simonszu commented on #121
Please allow me this one question: Is this still worked on? I have recently bought a M50 and was hoping for linux support since Lightroom already had it. But for now i purely rely on JPEG output, which is a bit sad.

[2018-11-27 09:40] LebedevRI commented on #121
Presently - no. It **will** _eventually_ be done.
I should probably take a stab at this.

[2018-11-27 10:42] clanmills commented on #121
I haven't been able to work on this either.  Since July 2017, Exiv2 has been swamped by security issues.  I'm glad to say that every issue has been fixed and we will release Exiv2 0.27 on 28 December 2018.  We intend to offer "dot" releases as necessary during 2019 and 2020 to address security issues.

It has been a major undertaking to deal with security and very little feature development has be

[2018-11-27 11:29] clanmills commented on #121
I do have a practical suggestion to make about this.  Canon should be contributing to open-source.  When they decide to launch a new format on their users, I believe they have engineers in _"Developer Relations"_ who will engage with Adobe, Google, Apple, Microsoft and others to ensure that PhotoShop and other major applications provide support for their format.

I have never received any communic

[2018-11-27 11:30] simonszu commented on #121
@clanmills That's an excellent idea. I'll do it right now.

[2018-11-27 11:37] lclevy commented on #121
Adobe is certainly using code from Canon

⁣Envoyé par Blue ​

Le 27 nov. 2018 à 11:43, à 11:43, Robin Mills <notifications@github.com> a écrit:

[2018-11-27 11:41] lclevy commented on #121
Canon does have a sdk for developpers.
But it is closed source and not public

⁣Envoyé par Blue ​

Le 27 nov. 2018 à 12:29, à 12:29, Robin Mills <notifications@github.com> a écrit:

[2018-11-27 11:42] simonszu commented on #121
Sehr geehrte Damen und Herren,

ich möchte gerne meine vor einem Monat neu erworbene Canon M50 unter Linux in Betrieb nehmen. Hier habe ich vor allem das Problem, dass das neue CR3 RAW Format nicht mit den gängigen RAW-Bearbeitungsprogrammen (bspw. RAWtherapee oder darktable) kompatibel ist, was sehr schade ist, da ich die M50 momentan ausschließlich über die JPEGs nutzen kann.
Meines Wissens nach

[2018-11-27 11:44] lclevy commented on #121
See references:
https://github.com/lclevy/canon_cr3/blob/master/readme.md

⁣Envoyé par Blue ​

Le 27 nov. 2018 à 12:30, à 12:30, Simon Szustkowski <notifications@github.com> a écrit:

[2018-11-27 11:49] LebedevRI commented on #121
exiv2 *only* has the knowledge to decode the metadata.
It does not, and should not, do any of the **actual** raw image (i.e. the actual pixels) decoding.
Making exiv2 aware of cr3 will not be required for me to make darktable understand cr3.

Uh huh.
Regardless of whether this is directed at canon, or any of us, i really don't think it works that way :)

[2018-11-27 11:57] simonszu commented on #121
It is directed at Canon. In the past i have experienced Canon as a very consumer friendly company which makes sure that their users are happy.

We will see. I have got an automated response which assured me that i'll get an update by a service guy in 1-2 days.

The usual problem with Linux support is in most cases that there is a quite small user base, so that it is too expensive to write official

[2018-11-27 13:57] clanmills commented on #121
I only mentioned Canon because we're discussing CR3.  I worked for Canon for 3 years.   I'm a printing software guy and that's what lead me to work on Adobe PostScript and later Acrobat.  Never worked on metadata at Adobe.

It's hard to say how Canon will react.  It's a business matter.  Historically, _Developer Relations_ would have focused on big commercial software vendors such as Adobe and Mic

[2018-11-27 14:00] LebedevRI commented on #121
*Who* do they contact? Good question.
*How* do they contact? Not an issue. Every git commit already has an email address.

[2018-11-27 14:02] hfiguiere commented on #121
Just a little story about Canon and Linux support:

Over decade ago some of the developers of gphoto2 contacted Canon to try to get some documentation to improve Canon support in gphoto. Canon answer was that they didn't support Linux and that there was that open source project that work on Linux. That project name was... gphoto.

True story.

[2018-11-27 14:05] clanmills commented on #121
There are very smart people at Canon.  Clearly this reply didn't come from one of their best people!

And as you said, it was 10 years ago.  The world is changing.  Open-source is a **_"tour de force"_**.

[2018-11-27 18:56] lclevy commented on #121
I bet Dave Coffin will release in 2019 a dcraw version that supports cr3 wavelet decompression based on the Canon patent

⁣Envoyé par Blue ​

Le 27 nov. 2018 à 15:05, à 15:05, Robin Mills <notifications@github.com> a écrit:

[2018-11-29 13:32] rrenomeron commented on #121
I know it's not ideal, but I was able to import some sample Canon M50 CR3 files into Darktable after converting them to DNG with an appropriate version of Adobe DNG Converter running under wine, and work with the DNGs.  Depending on how demanding your workflow requirements are, it might be a viable workaround until this issue is figured out.

Disclaimer: I don't actually own an M50, I tried this a

[2018-11-29 16:27] pszaban commented on #121
I also asked Canon's EMail support to release this information.  Will post here if anything of value comes back. By the way, the dcraw web page doesn't look like it has been updated in quite a while.

[2018-11-29 16:43] LebedevRI commented on #121
I really hope all these mails this won't cause an epic (legal) blow-back at me/us/project :)

In principle the patent linked at https://github.com/lclevy/canon_cr3#crx-compression has sufficient into.
At least that is how it looks like, without starting to implement it.

Like i said previously elsewhere(?), i think it will be almost the same
as the GoPro's VC5 decompressor, with the notable differ

[2018-11-29 19:16] pszaban commented on #121
Well, that was quick.  Canon responded with a polite no.  The response stated that Canon provides a free Digital Photo Professional program and has decided to support only Microsoft and Apple operating systems.
    I'm going to let it go and move on; Canon heard a customer's request and I heard their response.

    Thank you LebedevRI, I'll take a look at the link to the patent you supplied to see

[2018-12-05 07:29] simonszu commented on #121
I have got an answer from Canon as well. I think it's a polite no as well.
<hr>
We are very sorry that you are not completely satisfied with your EOS M50.

We for ourselves are just offering our free software Digital Photo Professional for developing RAW photos of our cameras. Of course, Adobe and other software developers receive information from our headquarters in Tokyo which enable them to use

[2018-12-25 22:31] photopea opened #155 "Orientation of a .NEF file"
Hi guys, I am making my own .NEF parser and I can not get the information about the Orientation of the image (landscape / portrait). The TIFF Orientation tag 274 is always "1" (no transformation needed). I am parsing the Maker Note, but don't see it in there either.

Could you tell me, how do you detect the orientation of .NEF files? I could not find it in your code. Or do you process the pixel da

[2018-12-26 06:23] LebedevRI commented on #155
I'm sorry, no idea.

Indeed, that info is out of the scope of this library, it does not read it.

I can refer you to https://github.com/exiv2/exiv2 and https://sno.phy.queensu.ca/~phil/exiftool/

[2018-12-26 06:23] #155 closed, assigned to nobody

[2018-12-26 10:56] photopea commented on #155
I tried to load this .NEF file into Darktable: https://s3.amazonaws.com/Sample_NEFs/pikes-peak.nef.zip . The file was displayed in a Landscape mode, but the preview at the bottom was in a Portrait mode: https://i.imgur.com/PoLcB5Z.jpg

Could you leave my question open for some time, please? Maybe somebody knows it and would not mind giving me an advice.

[2018-12-26 11:27] LebedevRI commented on #155
That is a darktable bug, not rawspeed's. As i said, this library does not handle orientation.
I'm seeing the same here.
exif dumps:
[code]
say that all the "orientation"s specified in that file say it should not be rotated, and is horizontal.
So i think it will be best to ask in a more appropriate https://github.com/exiv2/exiv2

[2018-12-26 11:31] LebedevRI opened #156 "RW2 decompressor (ab/mis)uses padding bits"
When fixing #128, two existing supported raws change hashes:
[code]
It is not really possible to tell whether the old, or new, hash is correct,
since ADC produces differently sized raws (with crop).

The only logical explanation is that the RW2 decompressor somehow makes use of
those artificial padding bits, and uses them.

Refs. #132.

[2018-12-26 11:59] photopea commented on #155
Ok, thank you!

[2018-12-26 15:28] LebedevRI commented on #156
Humm, very interesting, and i can no longer reproduce this.

[2018-12-26 15:28] #156 closed, assigned to nobody

[2018-12-26 21:06] #128 closed, assigned to LebedevRI

[2018-12-26 21:14] LebedevRI commented on #128
@exaexa please do tell if any of the raws are still broken after this.

[2018-12-28 18:57] LebedevRI opened #157 "Phase One 'bad column support'"
Needed for "Phase One P30" support @ https://redmine.darktable.org/issues/12509
https://raw.pixls.us/data/Phase%20One/P30/
CC @RobbieAB

[2019-01-01 21:54] photopea opened #159 "CFA pattern in CR2 files"
Hi, I am making my own parser and renderer for CR2, and I ran into a strange problem.

I notice, that sometimes, CR2 files use the Bayer pattern [0,1,1,2], but sometimes, they use [1,2,0,1] . It is not in EXIF 33422. How does your software find out, which pattern should be used?

I looked into this: https://sno.phy.queensu.ca/~phil/exiftool/TagNames/Canon.html , but can not find anything about CFA

[2019-01-01 21:59] LebedevRI commented on #159
Yep.

It doesn't right now, everything is hardcoded in https://github.com/darktable-org/rawspeed/tree/develop/data
That is a bug, not a feature though.

I think,
[code]

[2019-01-01 21:59] lclevy commented on #159
https://github.com/lclevy/libcraw2
See craw2.c

[2019-01-01 22:09] LebedevRI commented on #159
No license stated (no LICENSE file, no per-file license headers).
(and, GPLv2 is an //interesting//, rather crippling, choice for a library.)

[2019-01-01 22:34] photopea commented on #159
@LebedevRI Yes, you are right, it is the tag 0xc5e0 in the fourth IFD (not EXIF), thanks!

The value 1 is [0,1,1,2] , the value 3 is [1,2,0,1]. I have not seen a CR2 file with other values.

[2019-01-01 22:34] #159 closed, assigned to nobody

[2019-01-02 00:58] photopea opened #160 "CR2 files, that are not TIFF"
Hi, I am making my own parser and renderer of CR2 files.

I came across [a CR2 file from Canon - PowerShot A480](https://raw.pixls.us/getfile.php/2813/nice/Canon%20-%20PowerShot%20A480.CR2), which does not have a TIFF structure (from the first sight - it starts with bytes 32 8 8 130).

However, Darktable can open this file. Do you know where can I get more info about this format?

[2019-01-02 06:13] LebedevRI commented on #159
Roughly, the actual CFA is always the same: RGGB (1223)
[code]

There can be 3 extra variants: one line cropped off top (GBRG, 1201)
[code]

one line cropped from left (GRBG, 1021)
[code]
one line cropped from top and left (BGGR, 1220)
[code]

[2019-01-02 06:17] LebedevRI commented on #160
Since you are writing your own, i'd think you'd want to be able to solve such things on your own.
There is a working code. Have you tried applying debugger?

[2019-01-02 11:22] photopea commented on #159
@LebedevRI Yes, I know, that there can be four "permutations" (with greens on different rows), I just don't know if they occur in CR2 and what values of 0xc5e0 they have (probably 0 and 2, but not sure which is which).

[2019-01-02 12:02] photopea commented on #160
I don't do it for fun, it would be great to use an existing solution, but there are no CR2 parsers in Javascript :( I just thought you are aware of some human-readable description of this kind of CR2 format.

I haven't worked with C or any compiled language in years (and I am scared by them :D as there are usually hundreds of megabytes of data I don't understand), so I just read the source code he

[2019-01-02 12:19] LebedevRI commented on #160
That sounds like a fun job then :)
Have you considered/evaluated using WebAssembly, to simply compile/use some existing library?

*Public* - not really.
https://www.sno.phy.queensu.ca/~phil/exiftool/canon_raw.html
and https://github.com/darktable-org/rawspeed/find/develop "crw"
might be of help.

But given that it is not "for fun", (i'm _guessing_ not under free license, either),
not sure i can be

[2019-01-02 12:20] lclevy commented on #160
https://github.com/lclevy/libcraw2/blob/master/docs/cr2_poster.pdf

⁣Envoyé par Blue ​

Le 2 janv. 2019 à 13:02, à 13:02, Photopea <notifications@github.com> a écrit:

[2019-01-02 12:22] LebedevRI commented on #160
@lclevy i like your work, but can you maybe not post it every time in every issue, please? :)
This isn't even really the correct link, CRW aren't TIFF, and aren't normal Huffman-coded.

[2019-01-02 12:29] LebedevRI commented on #160
Ah that.
That camera does not produce raw files, that is a CHDK sensor dump, it has no metadata whatsoever.

[2019-01-02 12:29] #160 closed, assigned to nobody

[2019-01-02 12:37] photopea commented on #160
I published my parsers as open-source under MIT licence, e.g. [UTIF.js](https://github.com/photopea/UTIF.js) (there are many other parsers in my repository).

@LebedevRI I am aware of the CRW / CIFF format, but I think it is not the case, as CRW has to start with "II" characters, while my CR2 file starts with 0x20, 0x8, 0x8, 0x82. The "Canon" does not occur in my CR2 file, while it occurs in every

[2019-01-02 12:41] LebedevRI commented on #160
Fun, whatever works for you i guess :)

Yep, i see my previous comment.

[2019-01-02 13:31] photopea commented on #160
@LebedevRI Oh I see, so you "guess" everything just from the file size (if it corresponds to the resolution of any camera, multiplied by a bit depth).

One more question: I see, that you don't have the color transformation matrices in your XML camera database. Do you always extract them from RAW files? I found such database with matrices in "dcraw", but many cameras are missing there.

[2019-01-02 13:41] LebedevRI commented on #160
Yep.
https://github.com/darktable-org/rawspeed/blob/92e0c3cd7be44ec441844967825e512d51a28cfa/src/librawspeed/decoders/NakedDecoder.cpp
It's super fragile, since it *only* matches based on filesize.
As soon as you have two different raws (two different cameras, different sensors, diferent CFA pattern)
with the same filesize, you have a problem since you won't know which one it is. (Such collisions

[2019-01-02 14:12] lclevy commented on #160
Color Matrix for a given camera can be extracted from a dng which original image was the cr2 from that camera.
This is what I made on this script.
https://github.com/lclevy/libcraw2/blob/master/dng_info.sh
Are you using CHDK to have raw output on A480?

⁣Envoyé par Blue ​

Le 2 janv. 2019 à 14:41, à 14:41, Roman Lebedev <notifications@github.com> a écrit:

[2019-01-02 22:43] photopea commented on #160
@LebedevRI BTW. what is the actual pixel data format for these CHDK files? My file (at the top) seems to have 12 bits per pixel. It starts with bytes (32,8,8, 130,130,32), which should be four pixel values (red,green,red,green). But if I read them "a regular way", I get (512, 2056, 2088, 544), which are pretty strange values.

@lclevy For DNG files, I read the matrix out of the DNG file. I only ne

[2019-01-03 06:41] LebedevRI commented on #160
Hmm, fun, and that is also a collision, `PowerShot SX110 IS` entry is being used.
Though here it looks like a good match.

It does appear to be 12-bit uncompressed packed raw, with `BitOrder_MSB16`.

Yes.

[2019-01-03 20:44] neo22s commented on #121
Hello,

Thanks for the job, and joining the conversation, any news on this?

Bought a canon eos R and I can no use the RAW files. I work only on ubuntu :(

Any temporary fix?

[2019-01-03 20:51] LebedevRI commented on #121
Aha, finally someone with that camera!
Please help, we need samples for https://raw.pixls.us/ :)

Details:
Pick some static scene (outdoor landscape, no people), use tripod
There are total of 2 * 2 * 4 samples needed (i think?), let me break it down:
* There are two raw modes on that camera (i think?): RAW, C-RAW.
* That camera has dual-pixel mode, which can be disabled and enabled
* That camera c

[2019-01-03 20:53] neo22s commented on #121
@LebedevRI tomorrow you have it ;)

[2019-01-03 20:55] lclevy commented on #121
You'll have also information here: https://github.com/lclevy/canon_cr3/blob/master/readme.md#samples

⁣Envoyé par Blue ​

Le 3 janv. 2019 à 21:53, à 21:53, Chema <notifications@github.com> a écrit:

[2019-01-03 20:55] LebedevRI commented on #121
the upload form will say that there are samples already, do upload everything anyway.

[2019-01-03 20:57] LebedevRI commented on #121
Yes, i'm aware of those samples.
1. they are not on RPU, therefore i don't/can't/won't use them in the integration testing of the library.
2. They are not under CC0, therefore their usage is somewhat questionable
3. We don't have CC0 sample set anyway, so we need one anyway

[2019-01-05 13:04] neo22s commented on #121
Hello,

All RAW files here properly named:
https://mega.nz/#!NsQRgCxT!vCh4EaU8FfPsXCl2ge4Ar4XGMhbgtjPMu8qBi6Gp2q0

I am uploading 1 by 1 but It gets stuck and I need to leave in 10 minutes.

[2019-01-05 13:05] LebedevRI commented on #121
No worries, please do finish uploading them when/if you have time.
Sadly, this isn't really time-critical issue here..

[2019-01-05 13:13] neo22s commented on #121
Done! so what's next? :D

I really need this.. I am trying to make a living from photography and doing it only using Linux gets hard... ;)

[2019-01-05 13:17] LebedevRI commented on #121
Sadly, the best current advice _i_ can get is to build a chroot (https://wiki.debian.org/Debootstrap e.g.), and *temporarily* use adobe dng converter to *temporarily* convert the raws to DNG, while keeping the originals.

[2019-01-05 13:25] LebedevRI commented on #121
Sadly, the best current advice _i_ can get is to build a chroot (https://wiki.debian.org/Debootstrap e.g.), install `wine` there, and *temporarily* use `adobe dng converter` to *temporarily* convert the raws to DNG, while keeping the originals.

[2019-01-05 13:31] neo22s commented on #121
Ouch. Terrible workflow.

When do you think we can have this done?

On Sat, Jan 5, 2019, 14:25 Roman Lebedev <notifications@github.com wrote:

[2019-01-08 20:08] exaexa commented on #128
There are no more problems with e9a586f in rawspeed. Thanks!

[2019-01-08 20:09] LebedevRI commented on #128
HURRAY!
Thanks for checking!

[2019-01-20 20:07] seanmavley commented on #121
@neo22s
I have the M50, and I must say working with it has been a challenge. Only adobe and canon's dpp support it. And both apps work on Windows only. No linux support.

Currently, my workflow involves running canon dpp in Windows, export all the files, then continue with darktable or gimp in Linux.

@LebedevRI I have the m50, in case samples would be needed from it. Over 5k of CRAW files to pick

[2019-01-20 20:14] neo22s commented on #121
@seanmavley

Luckily for me I was barely using the RAW files, I do  fashion photography and only if I messed up badly I needed to use the RAW files (wrong white balance or really bad exposed).

If I was a wedding photographer (which I do sometimes) will be a nightmare. I am ready to use windows those days if this does not go faster.

Such a pity :(

[2019-02-02 01:08] jlbee commented on #121
Any news on this? I use the EOS R, and can't open any of my RAW files. It kind of makes me regret trading in my previous camera since it had really good support. I submitted my pics to a repository I was linked to on Mastodon in December. I can't get Adobe or Canon's software to work on anything, and my desktop is too old to download anything to. I can do basic stuff in GIMP, but it just isn't the

[2019-02-02 07:03] LebedevRI commented on #121
I have not looked further into that yet.
If anyone wants to, feel free to work on it.

[2019-02-05 21:36] lclevy commented on #121
it seems Alexey is working on it
https://github.com/lclevy/canon_cr3/issues/7

[2019-02-05 21:37] LebedevRI commented on #121
Nice!
Good spec will be better than working code (looking at you, fuji decompressor).

[2019-02-05 21:43] neo22s commented on #121
Thanks guys 👌

On Tue, Feb 5, 2019, 22:37 Roman Lebedev <notifications@github.com wrote:

[2019-02-05 21:56] Alexey-Danilchenko commented on #121
@LebedevRI - yet working code just works and is miles better than empty statements. And if you really expect to have good specs in a world of proprietary raw formats, I think it is time to wake up and have a reality check

[2019-02-05 22:23] LebedevRI commented on #121
A working code (_source_ code under open license, not something else) is sure better than nothing.

That fuji remark was mostly in context of

which seemed like an improvement/contribution to the attempt to spec-ify the codec.
I omitted word "even" in "Good spec will be <even> better", thus, having an idea of the state
of fuji decompressor, it _does_ read as some variation on "better no code than

[2019-02-05 22:33] Alexey-Danilchenko commented on #121
That format came from reversing just as in Fuji case header format for their data.  Neither will give you the specifications of original format or decoding algorithms. So whatever that is - it is definitely not and attempt to specify the codec, only the file format.

As with anything in reversing, unless you will want to put an effort in understanding the algorithms and rewrite the code, it will n

[2019-02-06 12:09] LebedevRI commented on #121
To be honest i'm not quite sure what prompted such harsh responses.
It was logical that fuji decompressor code was not produced from a good human-readable spec.

Confirms that.

I have not (nor have i wanted to) insulted you, your coding/developing abilities, reversing abilities.
I have not demanded/requested/etc that you improve that reversed code.
I have only voiced my frustration with that curr

[2019-02-09 21:01] LebedevRI commented on #157
Fixed by https://github.com/darktable-org/rawspeed/pull/164 / https://github.com/darktable-org/rawspeed/commit/fb9dda02aae9a42f13fb405639fe04c4d12b2b58

[2019-02-09 21:01] #157 closed, assigned to nobody

[2019-02-11 15:24] RobbieAB opened #166 "Implement P1 "All color flat-fields" correction"
dcraw currently contains corrections for P1 files described as "All color flat-fields", P1 correction tag 0x401. This correction might be worth porting.

[2019-02-11 15:25] RobbieAB opened #167 "Implement P1 "Red+blue flat field" correction"
dcraw currently contains corrections for P1 files described as "Red+blue flat field", P1 correction tag 0x40b. This correction might be worth porting.

[2019-02-11 15:55] RobbieAB opened #168 "Implement P1 "Polynomial curve" correction, tag 0x419"
dcraw currently contains two different corrections for P1 files described as "Polynomial curve", the first has P1 correction tag 0x419. This correction might be worth porting.

[2019-02-11 15:55] RobbieAB opened #169 "Implement P1 "Polynomial curve" correction, tag 0x41a"
dcraw currently contains two different corrections for P1 files described as "Polynomial curve", the first has P1 correction tag 0x41a. This correction might be worth porting.

[2019-02-18 14:26] hoedur opened #170 "Panasonic DC-G9 high-res RAW: insufficient crop"
When opening a High Resolution RAW (the large variant with ~125 MB file size) with darktable 2.6.0, artifacts can be seen on the right border of the picture (panorama) or on the top border (portrait).

This issue was approved by @LebedevRI. More details are to follow if needed.

[2019-02-18 15:26] hoedur commented on #170
Workaround: use the crop editing feature of the "raw black/white point" module:

1. Edit "~/.config/darktable/darktablerc"
2. Find the line "plugins/darkroom/rawprepare/allow_editing_crop=false"
3. Change "false" to "true"
4. Open darktable and go to the "RAW black/white point" module
5. There should be a slider "crop width"; increase this value until the artifacts are gone
6. If you don't see thi

[2019-02-18 18:45] LebedevRI commented on #144
Same for _some_ leica dng's (no sample on RPU, samples @ https://redmine.darktable.org/issues/12603).
Perhaps it might be wise to indeed just bailout right after `M_SOS`, without looking for `M_EOI`.
Ugly :/

[2019-02-20 21:42] neo22s commented on #121
Hello!!

Any news about this? thanks :D

[2019-03-02 13:18] kznsq commented on #121
Hello!
The patent is describing the prediction coding with K parameter (Golomb-Rice coding base value), which is actually a power of 2. Each step this K parameter is updating. But where is a initial value?
Maybe here?
"19 bits value (3 right most bits of byte#9 + 16 bits at offset 10). Substracted to size at offset 4. Likely to compute exact meanful bits at end of the encoded stream, as size is ro

[2019-03-02 13:32] lclevy commented on #121
if you use parse_cr3.py -v 3, the value is displayed. I see values 0, 1, 2, 3, 4, 5, 6, or 7.

a discussion with a wavelet expert told me each level add 2 bits.
"With this logic each stage adds two bits, so
level 1: 14-bit input -> 14+2 bit output, which is used for level 2
level 2: 16-bit input -> 16+2 bit output, which is used for level 3
level 3: 18-bit input -> 18+2 bit output".
so yes, these

[2019-03-02 17:27] kznsq commented on #121
As I can see, the encoder uses simple formula: (unaryCodedValue<<K)+KBits
"0063 Step 1: 0s equal to a number indicated by a value obtained by shifting the symbol S (binary expression) to the right by Kbits are arranged, and binary data is generated by adding 1 after these 0s. 0064 Step 2: Lower K bits of the symbol S are extracted and added after the binary data generated in step 1. "

Why there a

[2019-03-02 19:09] lclevy commented on #121
please contact me lclevy at free dot fr, it will be easier

[2019-04-14 19:36] neo22s commented on #121
Hello,

Sorry been so annoying, but my current workflow sucks. Although I am getting used to not use RAW files unless necessary.

There's any update on this? thanks a lot.

[2019-04-15 02:40] kenthinson commented on #121
@neo22s have you tried wine + Adobe dng converter? Working well for me.

I am curious about this projects progress too though :)

[2019-04-15 02:58] seanmavley commented on #121
It's been a year already since cr3 came in. I moved on for now. I just run Windows 10 in Virtualbox these days, with Canon DPP, and Lightroom. cc @neo22s

[2019-04-15 06:32] neo22s commented on #121
Hello

@kenthinson could you share with us the workflow you are using and how does it work?

@seanmavley I am using an old laptop I have with windows.... but I hate the workflow soooo much damn.

I am an advocate for FOSS and this is so frustrating since I am trying to convince other pro photographers to move to linux but if they find this kind of barriers.... such a pity

What can we do? maybe co

[2019-04-15 06:49] neo22s commented on #121
@kenthinson got it and working pretty well! but I will not convert all RAW only of those that I need to work with.

Steps:
1- Install wine
2- Download https://helpx.adobe.com/photoshop/using/adobe-dng-converter.html for windows
3- Open adobe DNG
4- Select folder, click convert
5- Open digikam, or darktable. All working!

works quite fast and seems stable, thanks!

[2019-04-15 07:38] clanmills commented on #121
The idea of contacting Canon with many signatures (a petition) may be effective.  The case for Canon to participate in OSS is a subject for marketing and management.

My thoughts are:
1) We need Canon to believe that putting the Camera SDK into the public domain gives them business "advantage" over their rivals.

2) If a major "player" such as Adobe, Microsoft or Google requested this as a way of

[2019-04-15 07:59] neo22s commented on #121
@clanmills that sounds like a great idea!

[2019-04-15 08:09] kznsq commented on #121
I hope the CR3 format will supported by LibRaw soon:
https://www.fastrawviewer.com/blog/FastRawViewer-1-5-1-Beta-CR3-Support?fbclid=IwAR21w54ZtZid9bHO_M983PFUbBXjJroPI5vcmk-AZwzjgNG0Kqb98VRcQfc

[2019-04-15 08:14] neo22s commented on #121
But does not work on Linux....

On Mon, Apr 15, 2019, 10:09 kznsq <notifications@github.com> wrote:

[2019-04-15 08:16] parafin commented on #121
There might be other reasons for not open-sourcing their code, for example Canon might be using 3rd-party code for which they don't have the right to release the source code. Or there's some know-how they don't want public yet. So you should keep in mind, that this decision might not be as trivial to make for Canon as you picture it.

[2019-04-15 08:45] clanmills commented on #121
@parafin You are quite right that there can be very good reasons what we do not know.  However it makes sense to "make the case" for support for OSS.  If Canon believe it's in their best interest to support OSS, they will investigate and solve consequential puzzles.

However, to persuade Canon (or any manufacturer or "player") to support OSS is a huge challenge.

[2019-04-15 08:56] LebedevRI commented on #121
I think the most likely path will be:
* libraw implements it
  * they will either [go hostile](https://github.com/darktable-org/rawspeed/issues/121#issuecomment-460830865) and release it **not** under free license, then i don't know
  * or it will be under free license
* I will either integrate it here as is (best to try to have some baseline for correctness/performance),
  and re-rewrite it from

[2019-05-01 12:55] LebedevRI commented on #100
4c7496309ec6bd4d113ad960de0b94e4332a5d7c

[2019-05-01 12:55] #100 closed, assigned to nobody

[2019-05-01 12:55] LebedevRI commented on #127
4c7496309ec6bd4d113ad960de0b94e4332a5d7c

[2019-05-01 12:55] #127 closed, assigned to LebedevRI

[2019-05-01 12:55] LebedevRI commented on #132
4c7496309ec6bd4d113ad960de0b94e4332a5d7c

[2019-05-01 12:55] #132 closed, assigned to nobody

[2019-05-02 16:20] Mark-64 opened #173 "Regression: Sony ILCE-6400 no longer supported"
Opening RAW files from Sony A6400 in DT  2.7.0+1108 with the last rawspeed gives "failed to read white balance" error.
DT 2.7.0+1061 opens the files without problems.

[2019-05-02 16:49] #173 closed

[2019-05-05 11:07] LebedevRI commented on #126
@shoffmeister hi. i'm not sure if you are still around, and have DC-GH5S camera.
Flashback: the camera supposedly writes 14bit and 12bit raws, but the sample set that exists on RPU,
even the supposedly-12bit raws, internally they are all 14bit raws.

I wonder if that has been fixed in newer firmwares, and maybe now the camera writes different raws?
You can't really tell that from EXIF, but you can

[2019-05-05 14:10] LebedevRI opened #175 "LJpegDecompressor implicit conversion issue"
[code]

[KDRaw_Q360_20190310_125715_000001.dng.zip](https://github.com/darktable-org/rawspeed/files/3145606/KDRaw_Q360_20190310_125715_000001.dng.zip)

[2019-05-05 14:45] shoffmeister commented on #126
Sorry, I don't have access to a GH5S, only own a G9.

[2019-05-05 14:46] LebedevRI commented on #126
Oh right, i think the GH5S samples originated from somewhere else, sorry.

[2019-05-22 14:18] govage opened #176 "Class RangesOverlapCmp cannot be used as a comparator for std::set in NORangesSet"
std::set requires comparison functor for which cmp(x, y) == !cmp(y, x)
See https://en.cppreference.com/w/cpp/container/set and https://en.cppreference.com/w/cpp/named_req/Compare
But RangesOverlapCmp doesn't meet these criteria because it uses function RangesOverlap for which RangesOverlap(x, y) == RangesOverlap(y, x). When trying to run on Visual Studio, it shows assertion error message in debug

[2019-06-01 13:50] debarshiray opened #177 "Support Meson"
I am overhauling GEGL's current LibRaw based RAW decoder and switching it over to Rawspeed. Unfortunately, having CMake as the only build system is causing some pain. Having Rawspeed support the [Meson](https://mesonbuild.com/) build system would make my life a tad simpler.

*I am currently prototyping the new decoder inside the GNOME Photos application, which has switched from Autotools to Meson;

[2019-06-01 13:59] LebedevRI commented on #177
Interesting.

I'm guessing **here** the problem isn't cmake itself,
but the fact that gnome world has decided to be innovative,
and gone with a whole new build system, which isn't cmake?

I can certainly see why this may be a problem.
But i'm not sure how this can be addressed.

I'm not aware of any success stories of maintaining
more than one build system, without them getting out of sync.

And,

[2019-06-01 14:08] debarshiray commented on #177
Well, if it wasn't Meson, then it would've been Autotools. :)

The move to Meson isn't just limited to GNOME, though. Off the top of my head, I can think of GStreamer, Mesa, the X server and Weston.

Normally, I'd agree that having multiple build systems on a long-term basis is a problem. However, I think modules that are meant to be used as Git submodules are an exception. eg., the [libgd](https:

[2019-06-01 14:46] LebedevRI commented on #177
There is any number of build systems out there (autotools, cmake, meson, gn, build2, bazel, ...)
Will it be okay to accept to maintain exactly two of them, but not more?
Why? Any answer here is hypocrisy i think. I _personally_ think a single choice is _least_ hypocritical.

Now, if the answer is not one, but e.g. two.
Should the builds with the two be exactly feature-for-feature compatible?
Shoul

[2019-06-01 14:54] parafin commented on #177
Probably build system (meson) can just call external build command (cmake) and import the result as a pre-compiled library afterwards.

[2019-06-01 14:55] LebedevRI commented on #177
(googletest, googlebenchmark, pugixml, llvm-openmp, zlib; libjpeg soon) are mainly cmake-based.
Should that buildsystem act much like the gpl cancer, and try to spread to those libraries?

Oh, forgot the main question here:
Let's suppose a dependency is being added, on another copylib. (abseil e.g., #122)
Last time i checked it only supports building with bazel and cmake.
Should that be a show-sto

[2019-06-01 15:53] debarshiray commented on #177
It depends on who wants to use it. For the sake of argument, if some bazel-based project wants to use Rawspeed, then I'd expect them to contribute the bazel support to Rawspeed and maintain it.

I certainly don't expect the existing pool of Rawspeed developers to support all the world's build systems on their own.

[2019-06-01 16:06] LebedevRI commented on #177
Is there a writeup somewhere about this? Why is that being done?
Perhaps it would be simpler to not switch away from a real library?

[Why] Does this have to happen upstream?
What specific problems are there to do either
* wrap around cmake or
* maintain the buildsystem downstream

?

If upstream is only meant as a storage, then any other build system other than the main one
will not be tested ups

[2019-06-03 19:06] junkyardsparkle opened #178 "Panasonic ZS200 files don't open in darktable"
Using current git master, Panasonic ZS200 files fail to open. I'm not sure I understand exactly how the `cameras.xml` file is supposed to work, but it *looks* like the ZS200 and TZ202 are conflated within a single definition, with only TZ200 listed as an alias. Maybe one of the other two should also be an alias, rather than mixed together?

EDIT: I had a chance to test this, and the fix in #179 wo

[2019-06-03 19:54] LebedevRI commented on #178
Please start with contributing full sample set to RPU :)

[2019-06-03 20:10] junkyardsparkle commented on #178
I don't own this camera. I just need to load files submitted for LensFun calibration. Anyway, there's nothing wrong with the camera support after fixing the definition. :)

[2019-06-03 20:13] LebedevRI commented on #178
I agree that the fix looks correct (i didn't google that those cameras are aliases),
but it is a general policy of not adding things without test coverage.
And since there is no sample for ZS200, there is no test coverage.

[2019-06-03 20:21] junkyardsparkle commented on #178
All of those models were *already in the definition*, though; I didn't add any models, just fixed the broken formatting. This is known to be a standard (stupid) thing Panasonic does with regional model names... see the TZ100 definition, for example. Anyway, I have it working for what I needed, so you can close this and wait for somebody to submit samples if you want. In any case, it's worth noting

[2019-06-03 20:25] LebedevRI commented on #178
Hmm, looks like i messed up in https://github.com/darktable-org/rawspeed/commit/1a1e8317f3acfceff736297e6bc637804274e4a6 / https://redmine.darktable.org/issues/12295
Which kind-of stresses the point about tests :/

[2019-06-03 20:34] junkyardsparkle commented on #178
I've had plenty of reasonable assumptions backfire on me lately, so I'm not going to argue against that policy. ;)

[2019-06-06 21:14] ChristopherRogers1991 opened #180 "Add support for Panasonic S1R"
Opening per the request from @LebedevRI on https://github.com/darktable-org/darktable/issues/2649#issuecomment-499665470.

Quoting from the darktable issue:

It isn't immediately obvious to me what it is. The raw is certainly compressed.
(If they didn't change their block/packet layout, then now the packet has 11 pixels, i guess)

[2019-06-06 21:18] #178 closed, assigned to nobody

[2019-06-18 13:05] Graycard opened #182 "Lumix DC-G9 RAW file contribution"
Just uploaded four RW2 files of the same target to https://raw.pixls.us/, in 4:3, 3:2, 1:1, and 16:9 aspect ratios.  Hope this helps.  None are modified in any way.  Hope this helps.

[2019-06-18 13:55] LebedevRI commented on #182
Thank you.
Don't think any action is needed here, that camera is supported for some time now.
(And, there were [more] samples already.)

[2019-06-18 13:55] #182 closed, assigned to nobody

[2019-06-22 14:33] LebedevRI opened #183 "Panasonic bad pixel handling issues"
FZ28hMULTII0100.RW2 from https://www.imaging-resource.com/PRODS/FZ28/FZ28THMB.HTM currently decodes with all pixels being zeros, which as every pixel being badpixel, so it tried to fix every pixel as badpixel.
There is a number of problems there
1. Should there be a sanity check on bad pixel fixing? This is clearly broken.
2. Why is that file decoded as such? Is the file just broken,
    or is the

[2019-06-25 14:22] photopea opened #184 "WebAssembly version of RawSpeed"
Hi, I am the creator of www.Photopea.com , which can open many RAW formats. I implemented my own decoding of TIFF, DNG, NEF, CR2 and ARW in Javascript (the whole pipeline, from a binary file to a sRGB image).

Many users are asking me about the support of less common proprietary RAW formats, such as Fuji RAF. I was thinking about replacing my current work with a WebAssebly version of your library.

[2019-06-25 15:19] LebedevRI commented on #184
Hi.

I'm sorry, i don't know what that means.
The sources are all [here](https://github.com/darktable-org/rawspeed), presumably you'd need to only compile it into WebAssembly.

[2019-06-25 15:25] heckflosse opened #185 "Sony software "ARQ" support"

[2019-06-25 16:18] LebedevRI commented on #185
There is not a single `*.ARQ` raw on RPU.
Which camera is that?

[2019-06-25 16:41] heckflosse commented on #185
It's not a native camera format. It's the format the sony software creates (not in camera) when you combine 4 pixelshift ARW files.

Camera is Sony 7R III

[2019-06-25 17:31] heckflosse commented on #185
@LebedevRI I forgot to mention: I don't mean that kind of support, that gives me a combined image from the ARQ file as PixelShift2DNG does. To use RawSpeed in RT we need to get the 4 frames out of the ARQ file as in this code:
https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/dcraw.cc#L2527

`shot_select` is the number of the frame [0;3]

[2019-06-25 17:33] LebedevRI commented on #185
That is how i understood it, yes.

[2019-06-25 19:16] photopea commented on #184
Are you providing any ready-to-use compiled releases of this library, other than the complete Darktable?

It would be great, if you could maintain WebAssembly releases of the library. I think changes in the source code might be necessary, to make the code more robust (that is why I don't feel confident to do it myself). I would be happy to support you financially in this task.

[2019-06-25 19:25] LebedevRI commented on #184
The library is a copylib, it can not be built as a shared library; there is no "public API".
It can only be built as a static library, as part of the project that is using it.

[2019-06-25 19:32] photopea commented on #184
I think you could easily create ANY-RAW-to-DNG converter out of this library. It could be an alternative to Adobe's converter, which is 400 MB. Many people would prefer your converter (as it would probably be smaller and would run on all OSs).

Doy you think any of developers would be interested in moving in such direction? It would still be usable by Darktable, but the interface (inputs-outputs)

[2019-06-25 19:46] LebedevRI commented on #184
This project (https://github.com/darktable-org/rawspeed) is only about the library.
If someone wants to implement open-source raw-to-dng converter with it, they are absolutely free to do so.
(Spoiler: DNG conversion is lossy, it's not a good idea to convert to DNG in general)

[2019-06-25 19:51] photopea commented on #184
DNG conversion can be both lossy and lossless. In general, for any RAW format, a corresponding data can be stored in DNG.

I don't know how many people are contributing to this library. I wanted to know, if anybody of them would be interested into making RAW-to-DNG library out of it, as they know Rawspeed the best.

[2019-06-25 21:57] photopea opened #186 "FujiDecompressor algorithm"
Hi, this is a little OT.

I would like to implement the decompression of Fuji RAF files, the method implemented in https://github.com/darktable-org/rawspeed/blob/develop/src/librawspeed/decompressors/FujiDecompressor.cpp

Could any of authors write down a description of the compression method in English (e.g. in Markdown)? It should not take more than an hour. I can pay you e.g. 150 USD.

I will i

[2019-06-25 21:59] LebedevRI commented on #186
I think you want to post that in https://github.com/LibRaw/LibRaw repo.

[2019-06-25 21:59] #186 closed, assigned to nobody

[2019-06-25 22:35] photopea commented on #186
I could not find any code related to RAF compression in LibRaw. Are you sure it can do it?

[2019-06-25 22:52] LebedevRI commented on #184
I'm sorry that i won't be of much help with the WebAssembly part of the question,
i've never encountered that before. If there are specific questions, that aren't
WebAssembly-specific, i may be able to help.

As for the DNG question, conversion to DNG is frowned upon,
so i'm not sure anyone will want to work on that.
Note that there isn't a single *compressor*, encoder here, only decoders, decompr

[2019-06-25 22:53] LebedevRI commented on #184
Also, maybe try asking in https://discuss.pixls.us/

[2019-06-25 22:53] #184 closed, assigned to nobody

[2019-06-30 14:14] LebedevRI opened #189 "LJpegDecompressor predictor mode 6 support"
Comes up in Blackmagic cameras, Magic Lantern DNG's.
[code]

[2019-06-30 14:15] LebedevRI opened #190 "Blackmagic Pocket Cinema Camera support"
Depends on https://github.com/darktable-org/rawspeed/issues/189

[2019-06-30 14:15] LebedevRI opened #191 "Blackmagic URSA 4K support"
Depends on https://github.com/darktable-org/rawspeed/issues/189

[2019-06-30 14:18] LebedevRI opened #192 "Canon EOS M50 support"
Depends on https://github.com/darktable-org/rawspeed/issues/121

[2019-06-30 14:18] LebedevRI opened #193 "Canon EOS R support"
Depends on https://github.com/darktable-org/rawspeed/issues/121

[2019-06-30 14:18] LebedevRI opened #194 "Canon EOS RP support"
Depends on https://github.com/darktable-org/rawspeed/issues/121

[2019-06-30 14:20] LebedevRI opened #195 "Sigma '.X3F' raw format support"
The X3F was nominally supported, but the support was removed in 1cda622444fb13abe35ff42d1b3a7d940f728100

[2019-07-01 05:11] jenshannoschwalm opened #196 "Some Leica camera definitions missing (Q,Q2,SL,CL)"
Some trivial camera definitions taken from exif data.

[addleicas.txt](https://github.com/darktable-org/rawspeed/files/3344013/addleicas.txt)

[2019-07-01 09:39] LebedevRI commented on #196
Yes, indeed, DNG cameras are _generally_ not listed in `cameras.xml`;
If you submit *this* as PR i'd merge bug it's not really a bug as it shouldn't really affect anything.

[2019-07-01 10:20] jenshannoschwalm commented on #196
I understand what you mean but:
From what i understand this is the code section for dt where camera manufacturer, Model ... are prepared in such a way we can use the 'short form'.
When i tried the denoiser profile generator it wrote "Leica" and "Q2" to match.
Without the above patch the profile was not found and had to be manually fixed to "LEICA CAMERA AG" and "LEICA Q2", after including the patc

[2019-07-01 10:51] LebedevRI commented on #196
Aha.
Well yeah, all that `<ID>` business is extremely messy :S
Feel free to submit a PR with that diff then.

[2019-07-01 17:17] jenshannoschwalm commented on #196
Closed because PR #197 solves this

[2019-07-01 22:34] #196 closed, assigned to nobody

[2019-07-12 08:14] LebedevRI commented on #185
Up, any clue who has appropriate camera and can help contribute nessesary sample?
I think @cryptomilk had some similar camera?

[2019-07-12 08:34] cryptomilk commented on #185
I don't have that camera but I posted in a Sony A7R3 forum and asked for a shot. If we don't get it I could check a store it and ask if I could take a picture with the camera.

[2019-07-12 17:45] LebedevRI commented on #185
Samples received by RPU, reviewed&accepted, thanks to whoever contributed them
and to @cryptomilk for leading the search!

[2019-09-01 09:27] mcourteaux opened #200 "The bigger picture of rawspeed: raw data versus metadata?"
I know that RawSpeed intentionally does not extract metadata (like thumbnails, EXIF data, and alike) out of the raw files. LibRaw on the other hand does this. Now I'm wondering how one should go about using RawSpeed if you want the fast decoding performance of RawSpeed, but still want to extract a thumbnail for example; and have access to all the other metadata?

It feels bloated to run both LibRa

[2019-09-01 09:30] LebedevRI commented on #200
By using proper metadata handling library.
darktable does not use libraw at all, uses rawspeed, and has the access to thumbnails, GPS, etc.
https://github.com/Exiv2/exiv2

[2019-09-01 09:40] mcourteaux commented on #200
Oh perfect! Now I feel a bit silly. Thanks for sharing this information. You could consider adding this hint to the README?

[2019-09-01 09:45] LebedevRI commented on #200
Oh, i was afraid you knew that already.

Yeah, it should be documented better.

To be noted, there were some discussions previously,
it _might_ be the case that a _bit_ more metadata handling will be added,
but it's rather not decided yet. (namely, adobe color matrix and crop-as-jpeg)

[2019-09-09 13:07] felixkkkk commented on #121
Hi,
I hope this isn't considered "what's the status here", but I have a question that touches this aspect ;-)

I stepped up from 5D mk ii to EOS R and used to shoot RAW only, as darktables interpretation of the RAWs was close enough to the JPGs and Canon colors, and I really liked the way they came out of darktable.

When I got my EOS R, I first wanted to return it immedeatly, as darktable dind't

[2019-09-09 13:49] seanmavley commented on #121
@felixkick

Your not being able to open the CR3 format in Darktable is no fault of Canon or the camera so by saying you're "unhappy" with the camera is like saying you bought an electric car and your nearby fuel station don't have electric charging so you're unhappy with the car.

~Anyway, Libraw appears to be what Darktable and the other open source programs use for Canon raws.~ As at the writing

[2019-09-09 13:51] LibRaw commented on #121
AFAIK, Darktable does not use LibRaw

[2019-09-09 14:29] neo22s commented on #121
Got same issue... many times unless I need to recover a lot highlights or shadows or change the WB I use the JPEG instead of the RAW file. I shoot always RAW + JPEG

Comparison JPEG straight out of camera
![IMG_5345-from-camera](https://user-images.githubusercontent.com/241725/64539362-a27b9b00-d31e-11e9-80c9-54ee54afcf6a.JPG)

And the RAW exported in Darktable with defaults (quality to 90% if not

[2019-09-09 14:56] clanmills commented on #121
I'm the maintainer of Exiv2 - the C++ Metadata Library.  We don't support Canon CR3 and we don't have a schedule to implement this.

I'm much more empathetic to your unhappiness with Canon.  Several folks have written to Canon to ask "will you make your CR3 SDK available to the open source community".  And while Canon have replied promptly and politely, I don't believe they have.  For sure, they'v

[2019-09-09 15:04] felixkkkk commented on #121
Hi,

fair enough - should have checked. Would have bought different camera or waited longer. I love darktable and have all my images in the database...

That's what I think too, though libraw seems to get CR3 going soon: [https://www.libraw.org/comment/5387#comment-5387 ](https://www.libraw.org/comment/5387#comment-5387 )
Hope they release the code, so darktable can follow!

But how do you get tho

[2019-09-09 15:06] felixkkkk commented on #121
Thanks...

Wouldn't do that :-) I admire your and the whole open source communitys passion and efforts! Thanks!

Will do that! :-)

[2019-09-09 16:12] neo22s commented on #121
I am carefully setting my WB manually in each scene ;) I've done it always since I love to see the pictures directly from camera and send them directly to customers. Saves me a lot of time. If I mess it up then I need to process the RAW's which some times happens :/

I have done it. I have the same feeling working developing Open Source Software since more than 13 years now... I made it my full ti

[2019-09-09 18:37] clanmills commented on #121
Google might pay a student to do this.  There's a program "Google Summer of Code".  You can read about it here:  https://github.com/Exiv2/exiv2/issues/659

I would like to imagine that "crowd funding" is possible.  I suspect the cost to hire a Silicon Valley Software Contractor for a few months is more than we could raise.

Maybe when I've finished the book and the workshop in France, I'll impleme

[2019-09-11 21:24] D4N commented on #121
There is https://www.bountysource.com/, but beside some prominent and monstrous issues, most of the bounties raised are not enough to make it worth working on those issues from a financial perspective.

Yeah, hiring a contractor is going to cost absurd amounts of money, especially if they are from the Silicon Valley.

[2019-09-12 03:50] lclevy commented on #121
Hi,

Alexey Danilchenko contributed code to libraw for CR3, so there is already "open source" support for it.

Kind regards,

Laurent

[2019-09-12 05:18] clanmills commented on #121
Thanks @lclevy It's very helpful to hear that about this.

[2019-09-13 11:57] pr0m1th3as opened #201 "Canon EOS 250D support"
Hi, if it would be of any help I can buy a Grey White Balance Colour Mid-Size Card and upload the cr3 raw files in pixls.us for this particular model. Thanks

[2019-09-13 12:02] LebedevRI commented on #201
No need for any color targets or anything.
A simple full raw sample set for that camera is missing on https://raw.pixls.us/,
so it you feel like contributing with that, it'd be great.

Roughly: there should be 8 samples: for each aspect ratio, one with each compression mode
That is 3:2 CRAW, 3:2 RAW, 4:3 CRAW, ...
I don't think there is dual-pixel on that camera? (if there is, then one extra dimen

[2019-09-13 12:04] lclevy commented on #201
Also continuous mode (12 bits), please ?

[2019-09-13 12:05] LebedevRI commented on #201
Right

[2019-09-13 13:08] pr0m1th3as commented on #201
Hi, thanks for the feedback. I just uploaded a set of 8 images (cRaw + Raw @ 1:1, 3:2, 4:3 + 16:9 aspect ratios) at raw.pixls.us. I am afraid I am not really sure what Iclevy's comment mean with continuous mode (12-bit). If I can be of further assistance, please let me know. Thank you for all the great work in Darktable.

[2019-09-13 13:16] LebedevRI commented on #201
Thank you very much, validated.

From other discussions elsewhere i believe there's suspicion that the raws
that are produced in continuous mode are different from the normal raws.
So it'd be good to have RAW+CRAW raw taken in continuous shooting mode
(raws from the end of the burst, if there are multiple continuous modes - the fastest one i guess).

[2019-09-13 14:04] pr0m1th3as commented on #201
Hi, thanks for the advice. I just uploaded another 4 images, taken in continuous shooting mode and silent continuous shooting mode (that's the only 2 available options in the 250D). The first batch of 8 photos I uploaded were taken in single shooting mode, so I guess this is it. 2 files are in RAW and 2 are in compressed RAW. I used 3:2 aspect ratio for all 4 new images. If you consider that more

[2019-09-13 14:09] LebedevRI commented on #201
@lclevy
https://raw.pixls.us/getfile.php/3395/raw/Canon250D_RAW-silent_cont._shooting-3:2.CR3
https://raw.pixls.us/getfile.php/3394/raw/Canon250D_RAW-cont.shooting_mode-3:2.CR3
https://raw.pixls.us/getfile.php/3392/raw/Canon250D_cRAW-silent_cont._shooting-3:2.CR3
https://raw.pixls.us/getfile.php/3391/raw/Canon250D_cRAW-cont.shooting_mode-3:2.CR3

let me know which ones of these (if any) are useful

[2019-09-13 14:09] lclevy commented on #201
Thanks you Andreas, i'll check if there are 12bits using my custom tool parse_cr3.py this evening.
Kind regards,
Laurent

[2019-09-13 14:15] pr0m1th3as commented on #201
I am glad I was able to help somehow.
Best regards,
Andreas

[2019-09-13 16:37] lclevy commented on #201
Hi,
These CR3 are all 14bits. Maybe 12bits is only for powershot and Digic8 models.
I heard also recent models (e.g., G7X-III & G5X-II) support high-speed raw bursts which are recorded in a single cr3 file.
https://www.cameralabs.com/canon-powershot-g7x-iii-review/

[code]

[2019-09-13 16:38] LebedevRI commented on #201
:( i'll drop them then.

[2019-09-13 16:42] lclevy commented on #201
about raw burst mode:
https://helpx.adobe.com/camera-raw/kb/raw-burst-mode.html
"Canon CR3 Raw Burst Mode image rolls"

[2019-09-24 22:34] seanmavley commented on #121
In that case, @lclevy is there anyhow that can be used in any software on a Linux?

[2019-10-08 16:49] drazde commented on #121
@lclevy Is there a possibility to try and test?

[2019-10-08 16:57] lclevy commented on #121
Libraw code source with Cr3 support has not been released yet

[2019-10-19 13:19] oib opened #203 "line 441 not inside image"
After creating a HDR image from some DNG images, i get a notification that is not available
the file exists but is not viewable

[code]

Debian/testing
darktable Version: 2.6.2-3
Depends: libc6 (>= 2.27), libcairo2 (>= 1.14.0), libcolord-gtk1 (>= 0.1.20), libcolord2 (>= 1.4.3), libcups2 (>= 1.7.0), libcurl3-gnutls (>= 7.56.1), libexiv2-14 (>= 0.25), libflickcurl0, libgcc1 (>= 1:4.0), libgdk-pixbuf

[2019-10-19 13:20] LebedevRI commented on #203
Sounds like broken DNG to me.
Can you upload it somewhere?

[2019-10-19 13:58] oib commented on #203
[IMG_20191018_200915.1-hdr.dng.zip](https://github.com/darktable-org/rawspeed/files/3746741/IMG_20191018_200915.1-hdr.dng.zip)

[2019-10-19 14:11] LebedevRI commented on #203
And it was produced by? darktable hdr merge feature?
Can you also post one original raw that was used to assemble this hdr?

[2019-10-19 14:24] oib commented on #203
[IMG_20191018_200915.zip](https://github.com/darktable-org/rawspeed/files/3746770/IMG_20191018_200915.zip)
produced by darktable "create HDR" (from selected images)

[2019-10-19 14:43] LebedevRI commented on #203
Yep, as expected.
It should filter out `ACTIVEAREA` exif tag.
Please report that to https://github.com/darktable-org/darktable/issues/new/choose

[2019-10-19 14:43] #203 closed, assigned to nobody

[2019-10-22 19:49] wheropl commented on #125
@wtanmdt could i get a pic of that back? i'm really interested in it

[2019-10-23 13:57] wtanmdt commented on #125
@wheropl here you are:
![IMGP9624-ss](https://user-images.githubusercontent.com/34220266/67400322-19898d80-f573-11e9-92cf-522bd97462a4.jpg)

[2019-11-01 09:16] fvollmer commented on #121
FYI: libraw just [announced](https://www.libraw.org/news/libraw-snapshot-201910) a new snapshot with Canon CR3 support (also includes support for GoPro, Panasonic 14-bit, Fujifilm compressed/16bit). The source is available at https://github.com/LibRaw/LibRaw.

[2019-11-02 11:58] LebedevRI commented on #121
That sounds refreshing.
I'm personally getting drowned in WIP branches here (i think i'm up to 4 now :{ ),
so groking some new algo and re-implementing it may be refreshing.
Or maybe someone else wants to _get_ things started.

[2019-11-10 07:36] variadico opened #206 "Sony DSC-RX100M7 support"
I'm trying to add support in Darktable for RX100M7 RAWs. I'm building Darktable and rawspeed from scratch. I'm using this commit for rawspeed.

[code]

I'm getting this error though.

[code]

Guessing that's because there is no entry for this camera in `cameras.xml`.

There is an Rx100M7 sample already uploaded to raw.pixls.us:

https://raw.pixls.us/getfile.php/3463/nice/Sony%20-%20DSC-RX100M7%20-

[2019-11-10 14:18] #206 closed, assigned to nobody

[2019-11-10 14:21] LebedevRI commented on #206
Not updating darkable's rawspeed submodule for the moment:
1. Please open a bug :)
2. They're in rc process, and i have recently landed some widespread changes,
    so not sure yet when i'll be ok doing that.
3. But colot matrix is added, so if you update submodue locally, it will just work.

[2019-11-11 16:47] dim162 opened #207 "Phase One Quadrant Correction Continuation"
In Darktable, darkroom, the phaseone IIQL from the p65+ is cut in 4 equal rectangles with different slight tint & luminosity, the exports too. I don't have the problem with Capture One & Rawtherapee.
The problem exist within Dt 2.7 & 2.6.2, in ubuntu studio 18.04, 18.10, 19.04. I put the raw in a dropbox folder.
< https://www.dropbox.com/sh/lahqwwd8aahmzb2/AABOqKXcWTIXgCC0YR45cEAza?dl=0 >

[2019-11-11 17:58] LebedevRI commented on #207
Yep, still happens in dt master / rs develop.
In essence this is continuation of #118.
Please can you contribute that CF028114.iiq to RPU ?

[2019-11-11 20:20] dim162 commented on #207
RPU? Sorry, I'm not aware. Use the CF028114.iiq as you wish, it is at least the minimum that I can do. I made a noise and a color profile.

[2019-11-11 20:21] LebedevRI commented on #207
Sorry, should have just posted the link - https://raw.pixls.us/

[2019-11-11 20:32] dim162 commented on #207
Ha! Ok. I posted a full set the 2018-09-21, not the CF028114.iiq which shows clearly the problem. If you need specific image, i can do it.

[2019-11-11 20:39] LebedevRI commented on #207
Yes, please upload that single image to RPU.
I'm not sure any of the existing samples show this issue, so it will be good to have one.

[2019-11-11 20:54] dim162 commented on #207
It's done.

[2019-11-11 20:56] LebedevRI commented on #207
Yep, thanks!

[2019-11-11 21:10] dim162 commented on #207
I'm impatient! The result with Darktable 3.0 + Gimp 2.10.14 under Ubuntu studio, are so impressive, i can forget the software & just do my stuff

[2019-11-12 13:59] LebedevRI commented on #207
So i've took a look, and there is a lot of Phase One-specific corrections not being done for that file:
* RawSpeed:correction 0x402 unimplemented - unknown, not in dcraw
* RawSpeed:correction 0x404 unimplemented - unknown, not in dcraw
* RawSpeed:correction 0x405 unimplemented - unknown, not in dcraw
* RawSpeed:correction 0x406 unimplemented - unknown, not in dcraw
* RawSpeed:correction 0x407 unim

[2019-11-13 08:40] dim162 commented on #207
I tried with rawdigger/fastrawviewer (win10) & ufraw, rawtherapee (ubuntu studio), i can't see the pattern.

[2019-11-13 18:34] paolobenve commented on #121
https://www.libraw.org/news/libraw-snapshot-201910 they have cr3 support: will it help darktable?

[2019-11-13 18:55] mrkkrp commented on #121
Could someone knowledgeable please outline steps for porting the stuff from `libraw` to `librawspeed`? Also if you specify a channel for communication for those who may want to implement this (i.e. where those people could ask the developers of `librawspeed` questions, etc.).

[2019-11-13 19:06] LebedevRI commented on #121
Based on all previous occurrences it boils down to some copypasting the code from libraw
somewhere into rawspeed with no changes, submitting pr doesn't pass CI,
and me spending next calendar month or so cleaning and rewriting the code from scratch :S

In this case i almost want to just grok the algorithm and write from scratch in the first place,
may will take less time and maybe no lgplv2 vs lgpl

[2019-11-13 19:40] mrkkrp commented on #121
@LebedevRI

Does it mean, in fact, that you are going to do this "rewriting from scratch" in relatively near future, presumably after looking into "panasonic stuff"?

[2019-11-13 21:27] mrkkrp commented on #121
I'm asking because if not, I might try to look into this. I have not touched C++ in 8 years though and I have no idea how the library is written, so naturally it'll be a lot less productive and the end result may be not entirely satisfactory compared to what you might achieve if you worked on it yourself. (And I'll still need a lot of guidance, meaning your time spent explaining.)

[2019-11-13 22:38] LebedevRI commented on #121
I mean, that is what i said; i'll end up rewriting regardless of the starting point..
The timeframe is **the** question here i suppose.

This is a bit involved, not only does it involve a new decompressor (which would be easy to
hook up into a decoder), but a new decoder, and even a whole new container format (ISO M).
Though i have some bits and pieces lying around somewhere.

I would actually rec

[2019-11-21 07:47] mk989 opened #209 "Fujifilm x-a10"
Is there possibility to add support for Fujifilm x-a10? Problem with missing color matrix. What can I do for help?

[2019-11-22 20:36] #209 closed, assigned to LebedevRI

[2019-11-22 20:37] LebedevRI commented on #209
Please contribute a new sample to https://raw.pixls.us/ - something like daylight landscape - the existing one is waay too dark.

[2019-11-22 21:59] LebedevRI commented on #207
Thanks for checking, that is an interesting data point.

[2019-11-23 18:45] dim162 commented on #207
It took me sometimes & now i'm sure at 98%, the quadrant appears when i shoot on card (Lexar, Sandisk, Fuji all 5 different cards) & not when i tethered the Ph1 645DF/P65+ through capture1 (Win10 & Macosx).

[2019-11-27 21:29] alexvanderberkel commented on #121
First of all, thanks for all the effort you are putting into this @LebedevRI! Have you made up your mind regarding the timeline? I think there are many people out here, who would love to help you testing or do other things, e.g. your last post.

[2019-11-27 21:41] LebedevRI commented on #121
The outstanding queue is still the same for me:
* I want to finally land https://github.com/darktable-org/rawspeed/compare/develop...LebedevRI:BitStreamCacheRightInLeftOut-rewrite
  I don't recall perf numbers, but they are no longer representable anyway.
* Last time i checked, after much work done (mainly https://github.com/darktable-org/rawspeed/commit/c8ee3119aa7091205366d341f102fb312746ff59 +

[2019-11-27 21:50] paolobenve commented on #121
I'd think in opening a bounty, and maybe all the people interested in this issue can put a sum in the bounty too, and maybe it is solved more rapidly...

Is it a good idea? will it help to solve this issue?

[2019-11-28 09:39] mrkkrp commented on #121
I personally decided to convert to DNG and then work with that. Which is also probably more future-proof. I use a converter from Adobe under wine (it probably coverts more accurately with respect to colors, too).

[2019-11-28 10:43] neo22s commented on #121
The problem I have doing this (which is what I do) is that for some reason the presets I did in camera are not saved. So I need to work the RAW from 0. Before with CR2 I could use the presets in camera when using darktable and will look a lot to the JPEG generated...  does this happen to you too?

[2019-11-28 11:01] mrkkrp commented on #121
I always edit my RAW files from 0 in Darktable, so it's not a problem for me.

[2019-11-28 11:03] LebedevRI commented on #121
The closest thing is https://github.com/sponsors, which is not enabled for this repo.
As far as i can see that would *only* incentivize working on *this* repo.
But working on *this* code inevitably leads to having to deal with ecosystem,
including but not limited to compiler issues in various forms and shapes,
and i _need_ to deal with all that. And as far as i can see, such infra/ecosystem work
w

[2019-11-30 14:41] dim162 commented on #207
I was too confident, the problem stay the same tethered or not. Sorry. Dt 3 is incredible

[2019-12-30 10:08] cryptomilk opened #211 "Don't set frame or stack-size via compiler commandline"
Hi Roman,

I've talked to musl developers on IRC in #musl @ freenode about setting stack and frame size.

https://github.com/darktable-org/rawspeed/blob/develop/cmake/compiler-warnings.cmake#L16

This should be done using `pthread_attr_setstacksize()` if really needed for musl libc.

[2019-12-30 10:09] LebedevRI commented on #211
`-W<>` are *warning* flags, they do not actually set the limits.

[2019-12-30 14:30] mcourteaux opened #212 "ASan in Release"
I'm running into the issue that I want to test with Address Sanitizer in Release build mode. However, this is not automatically detected as a "SPECIAL_BUILD" in the CMake logic. Thus, it checks stack frame sizes, that are too small for the extra overhead ASan includes.

To be honest, I don't really understand how the CMake logic works: https://github.com/darktable-org/rawspeed/blob/develop/cmake/b

[2019-12-30 14:39] LebedevRI commented on #212
Right.
I suspect the current easiest solution is to `-DRAWSPEED_ENABLE_WERROR=OFF`.
The proper fix would likely be to replace hardcoded SPECIAL_BUILD check
with check for presence of `-fsanitize=address` (i'm not sure what the correct regex would be)
in CXXFLAGS.

[2019-12-30 21:01] LebedevRI commented on #211
To allow forward progress here, can you specify not *what* (current subj), but *why*?

[2019-12-31 12:45] cryptomilk commented on #211
You probably get warnings with this if you enable AddressSanitzer. It does some nasty things.

[2019-12-31 12:51] LebedevRI commented on #211
Please feel free to post coherent bugreport, if one exists and it's not a duplicate of #212.

[2019-12-31 12:51] #211 closed, assigned to nobody

[2020-01-01 05:43] juststur opened #213 "TableLookUp with 65536 entries support"
**Describe the bug**

A DNG file output from Topaz DeNoise AI errors when imported into darktable with error "failed to read camera white balance information from '<file_name>'!".  Thumb nail image shows as a black/white 8-bit type picture...possibly a skull.

XMP side car still is created for file.

**To Reproduce**

1.Open a DNG file with Topaz DeNoise AI (either original DNG or RAW converted to

[2020-01-01 09:24] pphotography commented on #213
Can you provide an example file from that "Topaz DeNoise AI"?

[2020-01-01 17:29] juststur commented on #213
Sorry, forgot to include that.  ZIP contains original DNG and edited DNG.  Edited that fails to open has 'denoise' in name. https://we.tl/t-OGFc7D2SRd

[2020-01-01 17:57] LebedevRI commented on #213
It fails due to dbe7591e54bad5e6430d38be6bed051582da76b9 in https://github.com/darktable-org/rawspeed/blob/caa8ea8f2ebe007f5c44122588a737da70773de9/src/librawspeed/common/TableLookUp.cpp#L44
I _think_ i made a typo in that comparison, and that should be a strict (`>`) check.

[2020-01-01 18:51] #213 closed, assigned to nobody

[2020-01-02 09:54] alexvanderberkel opened #214 "LJpegDecompressor check for `cpp` is too strict"
I converted a CR3 into a DNG file with Adobe DNG converter. Currently darktable is not able to open the DNG file. Terminal shows following error message:

[rawspeed] (file.dng) void rawspeed::AbstractDngDecompressor::decompress() const, line 208: Too many errors encountered. Giving up. First Error:
rawspeed::LJpegDecompressor::LJpegDecompressor(const rawspeed::ByteStream&, const rawspeed::RawImage

[2020-01-02 10:00] LebedevRI commented on #214
Please attach the DNG in question.

[2020-01-02 10:17] alexvanderberkel commented on #214
DNG files are not allowed as an attachmend and are too big. Link is valid temporarily https://send.firefox.com/download/e60737a68263e269/#c2O81MxWHaJ0R5aZ381qPw

[2020-01-02 10:19] LebedevRI commented on #214
Yep. Putting it in a .zip and attaching works.

[2020-01-02 10:25] alexvanderberkel commented on #214
Zip was unfortunately still over the 10MB limit...

[2020-01-02 10:27] LebedevRI commented on #214
Hmm, that's a new restriction then, i don't recall seeing it before.
That being said i failed to download, link expired.

[2020-01-02 10:32] alexvanderberkel commented on #214
Will send you the link via email to avoid that the link will expire to some reasons

[2020-01-02 15:00] LebedevRI commented on #214
Is that DualISO?
While it is easy to convince rawspeed to load it
[code]
it is then discarded in darktable.

[2020-01-02 15:31] alexvanderberkel commented on #214
It is Dual Pixel Raw

[2020-01-02 17:31] LebedevRI commented on #214
Guessed as much.
I'll relax rawspeed-side check, but i'm no going to do about darktable-side thing here.
Feel free to open issue there.

[2020-01-03 19:34] #214 closed, assigned to LebedevRI

[2020-01-05 07:55] jenshannoschwalm commented on #214
@LebedevRI @alexvanderberkel  I got darktable decoding dual pixel dng files.

There is one more thing in rawspeed that "requires relaxing". `bool DngDecoder::decodeBlackLevels(const TiffIFD* raw) {` in DngDecoder.cpp should accept cpp==2 too.

So i suggest it to be
[code]
Can you agree here? And could you modify this or do you want me to do a pr?
BTW it would be nice to push current rawspeed to dt

[2020-01-05 09:00] LebedevRI opened #215 "DNG BlackLevel handling when cpp != 1"
@LebedevRI @alexvanderberkel  I got darktable decoding dual pixel dng files.

There is one more thing in rawspeed that "requires relaxing". `bool DngDecoder::decodeBlackLevels(const TiffIFD* raw) {` in DngDecoder.cpp should accept cpp==2 too.

So i suggest it to be
[code]
Can you agree here? And could you modify this or do you want me to do a pr?
BTW it would be nice to push current rawspeed to dt

[2020-01-05 13:04] jenshannoschwalm commented on #215
Ok, i agree on missing proper blacklevel support.

You know http://wwwimages.adobe.com/www.adobe.com/content/dam/acom/en/products/photoshop/pdfs/dng_spec_1.5.0.0.pdf ?
There is even more to be worked on.

Do you have priority list of more "things-to-be-fixed" regarding dng?

[2020-01-05 13:24] LebedevRI commented on #215
Oh, nice, i should update my bookmark then.

I don't think i have any list regarding DNG. (well, other than the general issue of 'multi-image raw support')

[2020-01-11 18:34] LebedevRI opened #218 "RawImageData{U16,Float}::fixBadPixel() should be deduplicated"
Code duplication leads to bugs.

[2020-01-28 22:27] alexvanderberkel commented on #121
A first starting point besides libraw could be RawTherapee as they have solved the issues to a certain extend: https://github.com/Beep6581/RawTherapee/blob/dev/rtengine/canon_cr3_decoder.cc

Having said that, I have not looked into the code yet and not sure how to bring the code into rawspeed.

[2020-01-29 08:20] dim162 commented on #207
Is there a problem to solve the bug?

[2020-01-29 09:58] neo22s commented on #121
I am testing the ART integration with CR3 but It does not read the CR3 files. I will update you when I make it work. https://discuss.pixls.us/t/art-cr3-compatibility-in-linux/16136

[2020-01-29 14:45] neo22s commented on #121
ok, it works!! ;) sorry the spam but if someone wants a detailed instructions for ubuntu here you have  https://garridodiaz.com/canon-cr3-support-in-linux-using-art-rawtherapee-clone/

[2020-02-01 19:46] lake-effect opened #224 "Panasonic DC-LX100M2 support"
Filing this to track support for this camera. I'm providing raws to raw.pixls.us in the meantime.

Log on startup (2.4.2, Ubuntu repositories) with camera connected through USB:

[code]

[2020-02-01 19:52] lake-effect commented on #224
It looks like someone beat me to uploading by about a year: https://raw.pixls.us/data/Panasonic/DC-LX100M2/

[2020-02-01 19:52] LebedevRI commented on #224
Support for that camera was added in https://redmine.darktable.org/issues/12431 / 970c7e666fb585a5498d2a0de6bcdee8f594735e, which was propagated into darktable in https://github.com/darktable-org/darktable/commit/090a1e8fcdfe9c51fd9dfca10b867a9004395185, and was first released in darktable release-2.6.0rc1
IOW that camera is most certainly not supported in dt-2.4

[2020-02-01 19:52] #224 closed, assigned to nobody

[2020-02-01 23:48] lake-effect commented on #224
Thanks for letting me know! Easy enough to update.

[2020-02-12 14:13] gesmmg commented on #121
Hi all!  I'm excited and eager to be able to work with CR3 in darktable!  @LebedevRI and others, is there an update on the timeline, now that there's a working open source library?  I realize it's hard work.  Just curious about your thoughts on rough timeline.  One week, one month, one year?  Thanks for all that you do to make darktable so good.

[2020-02-20 10:28] KristijanZic opened #225 "Non-single-component 'Adobe Deflate' DNG decoding failure"
**Describe the bug**
Darktable cannot open the hdr dng image created with Lightroom classic in darkroom.
Also the thumbnails for such images are not shown after importing them.

When opening such image Darktable throws this error:
![Screenshot from 2020-02-20 11-19-29](https://user-images.githubusercontent.com/10299892/74924529-f2cd4d80-53d2-11ea-9012-f6d785c8bbea.png)

**To Reproduce**
1. Downloa

[2020-02-20 12:48] aurelienpierre commented on #225
Not sure if we want to support every possible flavour of non-standard file formats written by every peculiar non-opensource software…

[2020-02-20 13:00] parafin commented on #225
I think in general darktable should support raw files produced by cameras and some common reliable file formats like TIFF and JPEG for other cases. Using DNG for custom purposes should be left to the eco-systems that introduced it, it's not our concern IMHO. I vote to close it as wont't fix as with darktable-org/darktable#4334.

[2020-02-20 13:44] johnny-bit commented on #225
I partially agree with @parafin and @aurelienpierre comments. Up untill recently I believed that DNG file is (or should be) an "universal raw". However I learned that it can also have embeded weirdness, like pre-demosaiced files, opcodes telling processing software how to process raw (a NOGO in my opinion). With most recent version of DNG spec from May 2019 (ver 1.5.0.0) comes another set of featu

[2020-02-20 15:10] jenshannoschwalm commented on #225
I will have a look.

There have been quite a number of dng related issues and consecutive fixes for definitive dt/rawspeed bugs.

Certainly there a number of obscure vendors just generating crap exif data but at least the stuff that is implemented for dng's should be correct.

[2020-02-20 16:53] LebedevRI commented on #225
FWIW it is failing with:
[code]
Is that file simply corrupted? Does that happen for every file, even a new one?

[2020-02-20 21:07] jenshannoschwalm commented on #225
btw, with exiv2 -pa there seem to be no exif decoding problems, this is clearly another example of a dual pixel file.
[code]
@LebedevRI here is one example for the need to analyse more than 4 black level values.